[2018-03-06 06:54] shiywang opened #41 "improve UT coverage"
It would be nice if we have some basic unit test.

[2018-03-06 15:13] shiywang commented on #41
I think i will self-assign this iiuc.

[2018-03-06 15:42] copejon commented on #41
+1  Tests would be very welcome!

[2018-03-13 21:12] #41 closed

[2018-03-15 01:54] jeffvance opened #52 "Need ginko and gomega vendor'd"
[code]

[2018-03-15 01:57] jeffvance opened #53 "Makefile to support compiling (and running?) tests"
`make test` should work

[2018-03-15 02:58] jeffvance commented on #53
depends on issue #52

[2018-03-15 02:59] jeffvance commented on #53
` go test -c github.com/kubevirt/containerized-data-importer/pkg/importer/importer_test` in the _test:_ target should be a good start.

[2018-03-15 07:30] shiywang opened #55 "hard-coded importer-template"
this part shouldn't be hardcoded: https://github.com/shiywang/containerized-data-importer/blob/d06b6da42f69b4e581a210841cb1159f33b177a9/pkg/controller/util.go#L138

espically nelly suggest using an offical repo url

I suggest using json.Unmarshal parse from a fixed file.

@jeffvance @copejon wdyt ?

[2018-03-15 08:45] shiywang opened #56 "if user delete the import-pod accidentally when it's creating, there should be a new pod being created"
If user delete the import-pod accidentally when it's creating, there should be a new pod being created.
I think currently our controller doesn't have this mechanism, should we add it ?

[2018-03-15 15:05] jeffvance commented on #55
Agree. It will likely be "filled in" somehow by an APB.

[2018-03-15 21:30] jeffvance commented on #56
It is documented in the main readme to use a deployment to launch the cdi controller:
_Event Sequence
The admin creates the Controller using a Deployment manifest provided in this repo._

[2018-03-15 21:31] jeffvance commented on #56
Will using a deployment allow this issue to be closed?

[2018-03-16 05:46] shiywang commented on #56
I mean the pod which cdi-controller created.

[2018-03-16 06:18] shiywang opened #57 "import-pod error will conflict with next creatation"
Let's say I'm about to create a pvc but provided some wrong endpoint url,
then the pod created by cdi will error out, then I figure it out my url was wrong, I have to manually delete the pod, then delele pvc, then change pvc and create.

but ideally, I just want to oc edit pvc change to a valid url, then let the cdi do the rest of job.

[2018-03-16 06:20] shiywang commented on #57
/kind of a feature we could enhance in the future I guess ?

[2018-03-16 06:20] jeffvance commented on #56
Re-launching the importer pod is equivalent to re-starting the copy from the beginning.

If the importer pod is deleted the pv and pvc will remain bound and unavailable. Thus, a new importer pod referencing the same pvc will not run because the pvc is not available.

Today the controller does not monitor the importer pod. So the controller does not know if the importer pod has terminated with an e

[2018-03-16 06:38] shiywang opened #58 "Two parts of code which I don't understand"
1. why we do the decompress before download image stream here: https://github.com/shiywang/containerized-data-importer/blob/123b7ac620174f378e980ef258c0726325a3bb4c/cmd/importer/importer.go#L36

is there acutally gonna be file can be opened https://github.com/shiywang/containerized-data-importer/blob/bba7838081ef8061b6bfb5f3904113f613446958/pkg/image/decompress.go#L26 ? or my understanding is wron

[2018-03-16 09:06] shiywang commented on #58
ok, after I rebase, it seems just some code not updated.

[2018-03-16 09:06] #58 closed

[2018-03-16 09:11] shiywang commented on #56
Yes, that's what I mean, maybe we can add it in the future

[2018-03-19 07:47] shiywang opened #62 "Do we have a plan to integrate this repo into kubevirt/kubevirt ?"
I'm working on a research on how to setup e2e test, there're two solutions here: 1. setting up a ci in this repo. 2. integrate e2e test in kubevirt/kubevirt, integrate in kubevirt/kubevirt has some pros but it will be no meaning if we didn't integrate the code base into kubevirt/kubevirt: no pr trigger tests.  so I was just asking if there's a long term plan for doing that ?

@jeffvance @copejon @

[2018-03-19 15:38] #53 closed

[2018-03-19 22:00] jeffvance commented on #62
@shiywang As far as we know we there are no plans to add the containerized-data-importer repo to kubevirt. Unless that changes I think it makes sense for CI to focus on this repo.

[2018-03-19 23:21] nellyc commented on #62
I also don't see the CDI merging into kubevirt repo, but I don't understand what is the meaning of E2E testing inside this repo.
From my POV the tests should be either under kubevirt or if it's not accepted there, we need to start discussing creating a new repo

[2018-03-20 01:51] jeffvance commented on #62
@nellyc that's reasonable. We do not necessarily need official e2e tests in this repo -- unit tests could be sufficient. As for CI, maybe all we need are a couple of webhooks to run the tests when a PR is created/merged?

[2018-03-20 05:57] jeffvance opened #65 "Document Red Hat CDN access to VM images"
We should add an explanation to the README file on why Red Hat CDN access won't work with basic http auth.

[2018-03-20 16:06] jeffvance opened #66 "determine image type w/o relying on file extension names"
Today VM images are validated only by their filename extension. We could improve this by peeking inside the image and verifying headers, checksums (if any), etc to be more certain that we have a supported image type.
Something to consider is should we use the file's extension (suffix) at all? What if an image is named
_foo.tar.gz_ but it is not a gzip file? Is this an error or do we ignore the ext

[2018-03-20 16:43] copejon commented on #66
Point in case: cirros official (unarchived/uncompressed) images are named `cirros-0.4.0-aarch64-disk.img ` when they are in fact qcow2. (From https://download.cirros-cloud.net/0.4.0/)

Something to consider - ignoring file extensions completely is okay, but there is the added cost of having to download at least the first few kilobytes of the data to examine it.  Not exactly a crushing amount.

[2018-03-20 17:57] #52 closed

[2018-03-21 16:20] jeffvance opened #71 "Add support for .xz compressed image imports"
Perhaps we can use this pkg: https://github.com/xi2/xz

[2018-03-22 15:34] nellyc commented on #62
@ifireball @gbenhaim is there something we can do to support CDI?

[2018-03-22 21:46] jeffvance commented on #57
fixed by pr #64

[2018-03-22 21:46] #57 closed

[2018-03-23 15:46] copejon opened #73 "Change pkg/controller/controller `fmt` statements to `glog`"
The packages mixes use of `fmt` and `glog`.  `fmt` isn't useful here; we should use `glog` exclusively.

[2018-03-23 15:47] #73 closed

[2018-03-23 16:09] jeffvance opened #74 "Need to Close ReadClosers used by importer pod"
This is complicated by the fact that some of the intermediate Readers won't naturally call `Close`, eg. Tar.

[2018-03-26 02:31] jeffvance commented on #71
Addressed in pr #76

[2018-03-26 02:33] jeffvance opened #77 "Add more thorough tests for the supported file compression, archive and conversion methods"
Also include tests for the supported archive methods (only tar so far).

[2018-03-26 02:34] jeffvance opened #78 "Add tests for local file import."

[2018-03-26 02:34] jeffvance commented on #78
See pr #72

[2018-03-26 19:35] jeffvance opened #79 "Use `dep` for dependency management"
Glide is being deprecated.

[2018-03-27 06:02] rmohr commented on #79
Just a heads up. Wait until client-go officially supports "dep". Until then stay with "glide". We had to go back to glide: https://github.com/kubevirt/kubevirt/pull/576.

[2018-03-27 17:15] jeffvance commented on #77
Consider adding a new dir _test_ to contain e2e-like tests.
Add _test/image_ and put the "tinyCore.iso" image there
In the test use wget or similar to download this image to the test node and save its size.
On-the-fly convert tinyCore,iso into the various formats, eg; _tinyCore.iso.gz_, _tinyCore.iso.tar.xz_ etc.
Test the decompression (and raw conversion) in a loop ensure the end size matches the

[2018-03-27 17:31] #65 closed

[2018-04-02 06:02] jeffvance commented on #71
Yes. This is one of the reasons I was thinking that `exec`ing out (in the functional tests) and using a cli to create the various file formats would be useful. When I compared _xi2/xz_ to _ulikunitz/xz_ I concluded that xi2's xz had a slight edge even though ulikunitz supports compression. If testing requires that the xz test files are formatted via native go code then we probably need to switch t

[2018-04-03 17:14] jeffvance opened #83 "CDI controller should monitor importer pods"
and update each pod's pvc with final import status (success/fail).
This will be used to decide when it's safe to clone a vm image.

trello: https://trello.com/c/gu2hXD6E/141-cdi-import-progress-annotations

[2018-04-03 17:43] jeffvance opened #84 "add importer unit tests for multiple namespaces"
[pr 82](https://github.com/kubevirt/containerized-data-importer/pull/82) adds support for multiple namespaces, meaning a pvc does not need to live in the "golden" ns.

[2018-04-03 17:45] #71 closed

[2018-04-06 23:10] #77 closed

[2018-04-09 21:59] jeffvance commented on #84
Fixed by pr #89

[2018-04-09 21:59] #84 closed

[2018-04-10 16:07] jeffvance commented on #78
Now that we have [functional tests](https://github.com/kubevirt/containerized-data-importer/pull/81) we may want both a unit test and functional test for local support -- though `file://...` is not requested by CNV team but mostly useful for local testing.

[2018-04-11 15:41] #78 closed

[2018-04-11 16:39] jeffvance opened #92 "add local functional test"
add a functional test case for local file import.

[2018-04-11 17:31] jeffvance opened #93 "(travis) All tests fail due to minikube error"
Here's an example:
  https://travis-ci.org/kubevirt/containerized-data-importer/builds/365227336#L518

[code]

[2018-04-11 17:32] jeffvance commented on #93
cc @fabiand

[2018-04-11 17:47] copejon opened #94 "image.UnpackData should return the filename variable"
[UnpackData()](https://github.com/kubevirt/containerized-data-importer/blob/master/pkg/image/decompress.go#L25) takes a filename and attempts to mutate it dynamically as different decompression and unarchiving is performed such that the output would contain the appropriate extensions.  However, this string var is not returned and cannot be used by the caller.

cc @jeffvance @screeley44

[2018-04-11 19:42] jeffvance commented on #94
I think this will be addressed in issue #74 .
Basically, I think we need the `dataStream` struct to be an _io.ReadCloser_. Then it can be returned by the unpack functions.

[2018-04-12 09:01] fabiand commented on #93
The issue is that minikube 0.26.0 requires syetmd (due to a new botostrapper)

See https://github.com/kubernetes/minikube/issues/2704

[2018-04-12 09:31] fabiand opened #96 "Streaming Data Conversion test fails"
Test failure after the travis fix:

[code]

[2018-04-12 09:31] #93 closed

[2018-04-12 10:01] fabiand opened #97 "Support upload/push feature"
It would be convenient to use CDI for tarball uploads i.e.

`tar c . | curl …`

[2018-04-13 21:05] jeffvance commented on #74
Current thinking is to implement a func that trims the filename extension, calls `UnpackData`, defers a `rdr.Close()` and calls itself recursively. Recursion ends when there are no more filename extensions or the ext is contained in a list of _final_ extensions.

[2018-04-17 17:00] copejon opened #103 "Versioning releases"
It's high time that releases of CDI be versioned in a format that conforms with Openshift and Kubevirt (v#.#.#). A versioning needs to be agreed upon to mark major, minor, and patch milestones. Some automation should be implemented for incrementing each to avoid human error.

[2018-04-17 18:49] fabiand commented on #103
https://semver.org

[2018-04-18 16:24] jeffvance opened #105 "add functional tests for .qcow2 filename variations"
Eg: _.qcow2.tar_ and _.qcow2.gz_ and _.qcow2.tar.gz_, and include _.xz_.

[2018-04-19 15:33] jeffvance commented on #94
UnpackData() has been refactored out by pr #102

[2018-04-19 15:33] #94 closed

[2018-04-19 15:34] jeffvance commented on #74
fixed by pr #102

[2018-04-19 15:34] #74 closed

[2018-04-19 15:36] jeffvance commented on #97
General upload feature.
Trello: https://trello.com/c/r6LpOBLU/73-5-epic-image-registry-cdi-upload-a-design

[2018-04-19 16:37] #96 closed

[2018-04-19 16:48] jeffvance commented on #66
There are risks with this issue. It could be error prone inferring an image format based only on content. If the format changes over time (v2) our code would have to be updated to detect the change.
From an implementation perspective, in the absence of extensions, we'd have to assume some format (eg. gz or tar) try that, if false try something else. If true we need to undo that particular format a

[2018-04-19 16:50] copejon commented on #62
Tabling the discussion for now as there is desire to migrate the code base into kubvirt/kubevirt.

[2018-04-19 16:50] #62 closed

[2018-04-19 16:57] copejon commented on #56
Carrying over to #83 and closing.  Once pod monitoring is implemented, we'll have the flexibility to handle these kinds of failures.

[2018-04-19 16:57] #56 closed

[2018-04-19 17:09] jeffvance commented on #92
close by pr #102

[2018-04-19 17:09] #92 closed

[2018-04-20 15:53] #105 closed

[2018-04-20 17:02] #103 closed

[2018-04-20 18:16] jeffvance opened #112 "controller needs to track pvc updates"
Consider:
1. create pvc but forget endpoint anno
2. controller sees pvc but calls `q.forget()`
3. user edits pvc and adds ep anno
4. controller never sees the pvc update.
Therefore the user has to delete the pvc, edit it, then re-create it.

[2018-04-23 18:36] jeffvance opened #114 "Validate image after copy"
We are likely exposed to vulnerabilities by allowing users to import any image into the kubernetes cluster.

[2018-04-24 18:39] #112 closed

[2018-04-25 14:09] copejon opened #118 "Do not drop items from the queue if they error during processing"
The call to [](https://github.com/kubevirt/containerized-data-importer/blob/master/pkg/controller/controller.go#L100)

[2018-04-25 19:00] screeley44 opened #120 "need to clean up some general flow and error recovery scenarios"
1.  If importer pod fails to create - don't want to forget the key in processItem
        - to ensure we try to process again

2.  importer race condition - multiple imports on a single pvc
[code]

[2018-04-25 19:29] screeley44 opened #122 "add label to pvc if user did not create it"
We should add a label to the pvc object if a user has not added it, it's not a requirement for processing but a nice UXP to give ability to easily filter on CDI type resources using kubectl .i.e.

[code]

[2018-05-03 17:08] jeffvance opened #131 "Improve controller unit tests"
The current controller unit tests are more like functional tests in that they call higher level functions (`NewController`, `ProcessNextItem`) rather than some of lower level funcs (which may need to be exported?).
1.  We should _consider_ moving the current unit tests to _/test/_ so they are treated as functional tests and create real controller unit tests.
2.  We probably should remove the tests

[2018-05-04 01:01] jeffvance opened #133 "cid import design diagram needs updating"
This [diagram](https://github.com/kubevirt/containerized-data-importer/blob/master/doc/design.md#design) should be updated to reflect importer pod monitoring.

[2018-05-04 15:53] davidvossel opened #136 "cdi rbac roles"
The advice in the primary README.md to bind the default service account for a namespace with cluster-admin privileges isn't wise. Even with the disclaimer, we don't want that accidentally replicated.

For example, I already see that kubevirt-ansible is using this method to deploy CDI right now. I'd hate for something like this to accidentally make it's way into production someday.

## short term f

[2018-05-04 16:09] davidvossel commented on #136
I didn't test this but something similar should work as a short term solution

[code]

[2018-05-04 22:02] jeffvance opened #145 "importer pod name needs "-" between pvc name and random string"
For better readability in `kubectl` output and logs. Otherwise, you see `importer-test-pvcqzjcl` and this is better `importer-test-pvc-qzjcl`

[2018-05-07 19:53] jeffvance commented on #83
fixed by #128

[2018-05-07 19:53] #83 closed

[2018-05-09 00:40] jeffvance opened #147 "support verbosity control in log info messages"
Suggest using `glog.V(n).Info` and pass the verbose flag from the controller to the importer pod.

[2018-05-10 22:39] #145 closed

[2018-05-11 06:42] shiywang commented on #131
@jeffvance are you plan to work on this ?
@nellyc unit test is not QE's responsibility right ? so I guess the related card should be no-qe IIUC.

[2018-05-11 15:33] jeffvance commented on #131
@shiywang yes, one of us will work on more granular controller unit tests.

[2018-05-14 15:46] davidvossel commented on #136
Yep, the {{.Namespace}} variable defines what namespace kubevirt components will be installed in. You'll likely want the same thing for CDI.

I'd imagine both KubeVirt and CDI would probably be installed in the same namespace. For kubevirt-ansible, you might not have to differentiate between kubevirt and cdi namespaces.

[2018-05-16 16:51] copejon opened #153 "Functional Test: Pod Phase in PVC annotation"
Pod monitoring updates the PVC with an annotation containing the Importer Pod's statue.  This is currently uncovered by testing.  A PR will be opened to address this.

[2018-05-16 19:01] copejon opened #154 "Unit Tests: /pkg/controller"
Subset of #131

Expand unit test coverage of this package

[2018-05-16 19:03] copejon opened #155 "Unit Tests: /pkg/image"
Expand unit test coverage of this package.

- [ ] qemu_test.go
- [ ] validate_test.go

[2018-05-16 19:03] copejon opened #156 "Unit Tests: /pkg/importer"
Expand unit test coverage of this package.

- [ ] util_test.go
- [ ] dataStream_test.go

[2018-05-16 19:04] copejon opened #157 "Unit Tests: /pkg/controller"
Expand unit test coverage of this package

- [x] util_test.go
- [x] importer_controller_test.go
- [x] data_volume_test.go (completed by @davidvossel )

[2018-05-16 19:06] #154 closed

[2018-05-16 19:06] copejon commented on #154
Redundant

[2018-05-17 13:02] #136 closed

[2018-05-17 20:37] jeffvance opened #160 "to support testing use Update rather than Patch to add annotations and labels"
fakeClient.Patch() is not implemented. No error is returned when Patch is called and the returned object is messed up. Our tests have been getting back false positives.
Update() has a likely rare window where the object's version is updated during the patch window. For now we will not worry about this.

[2018-05-17 21:23] screeley44 opened #162 "refactor: move controller funcs to exported funcs in util for more generic use with tests"
rather than using controller for the client, we should pass the client to the func in an exported manner

[2018-05-21 16:46] #160 closed

[2018-05-22 18:29] #162 closed

[2018-05-24 15:40] jeffvance opened #173 "document at a high-level our controller design in code comments"
Probably add this to cmd/controller/controller.go

[2018-05-29 14:25] shiywang opened #177 "dockerhub image tag latest need to be latest image"
When I was working on CDI e2e test in kubevirt-ansible pr here: https://github.com/kubevirt/kubevirt-ansible/pull/246, I found the docker images here latest haven't been updated for a month, the actually latest image is v0.5.0-alpha.0.

The reason why this bothering me is because the old image I use doesn't have any label tagged on importer-pod, so it's not convenient for you sift some result you

[2018-05-29 14:26] shiywang commented on #177
cc @copejon @jeffvance

[2018-05-29 14:34] screeley44 opened #178 "Add access to secrets for RBAC"
[code]

[2018-05-30 01:42] jeffvance commented on #131
Also see pr #174

[2018-05-30 16:06] #178 closed

[2018-05-30 18:23] copejon commented on #177
It was discussed about a month ago on the mailing list that using `:latest` for image tagging was a risky practice.  After that, CDI has exclusively used versioned releases.  These versions will mirror kubevirt's version and increment in step with kubevirt releases.

Is it possible to have the test get the kubevirt version use that as the cdi image tag?

[2018-06-04 21:41] jeffvance commented on #55
This should be a bit higher priority. If we have a go template for the importer pod then we won't need the `IMPORTER_IMAGE` env variable.
 We also could change _hack/version/lib.sh_'s `getVersionedFiles` function to only grep .yml, .yaml, .json files, and thus we would be able to delete CDI_VERSION from _common.go_.

[2018-06-11 16:52] jeffvance opened #191 "cid label names"
We need to consider removing the 'kubevirt" prefix from all cdi labels. The reason being that we want to eventually decouple cdi from kubevirt.

[2018-06-11 19:33] davidvossel opened #192 "DataVolume CRD Implementation Tasks"
Tasks for Initial PR: #189
- [x] add new package dependencies
- [x] define DataVolume API and add client/informer generators
- [x] refactor cdi controller component in preparation for multiple controller loops
- [x] introduce DataVolume Controller
- [x] add DataVolume controller unit tests

Followup Doc Tasks
- [ ] add DataVolume documentation to CDI README

Followup Dev Tasks
- [ ] add filesystem

[2018-06-12 17:19] jeffvance opened #195 "New containerized `make` requires --privileged or `setenforce 0`"
`make` fails with a perms error on a rhel 7.4 vm:
Eg: `make controller`
[code]
Also, shelling into the golang container shows the perms issue:
[code]
Running the golang container privileged or `setenforce 0` fixes the perms problem.

[2018-06-12 18:18] #195 closed

[2018-06-12 18:33] #191 closed

[2018-06-12 22:04] jobbler opened #199 "Containerized only build breaks downstream"
Containerizing the build process removed the ability to do a non-containerized build. Can the ability to do a non-containerized build be put back into the makefile so that the option is available?

[2018-06-12 22:51] jeffvance commented on #199
Can you add more details? What does your downstream build process look like? What error are you getting?  Why won't a containerized build workflow work for you?
Thanks.

[2018-06-13 02:12] copejon commented on #199
@jobbler We can implement some branching on a passed in var (e.g. `DOCKER=1 make all`) to disable dockerized builds (default being containerized builds to normalize dev envs).

@jeffvance thoughts?

[2018-06-13 03:57] jeffvance commented on #199
@copejon agree. But since containerized builds are somewhat pervasive I want to better understand if there is another approach that allows us to still do the build in a container, like is done for kubernetes...

[2018-06-13 19:44] jeffvance opened #203 "CDI version issues"
CDI "releases" are arbitrary, do not represent any functional composition, and only serve to keep track of the latest kubevirt version string. There really is no CDI version, instead we have obscured "latest" with  kubvirt's version tag.

Per a recent email from @davidvossel:
_CDI's release are overwritten with every commit. This means that someone using the CDI v0.5.2 will get different code each

[2018-06-13 20:33] davidvossel commented on #203
Item 1. We need releases. That's the only way other projects can reliably consume CDI.

At a minimum, each release needs
- Container with release tag
- Source Code
- Release Manifest

Ideally there is a change log as well as list of contributors as well.
Example KubeVirt Release: https://github.com/kubevirt/kubevirt/releases/tag/v0.6.0

[2018-06-13 20:36] jeffvance commented on #203
@davidvossel I agree. However, my understanding is that kubevirt-ansible cannot consume images that are not tagged with the same release string as kubevirt. If this is true then that needs to change too. If misunderstand then cdi should be able to implement its own releases.

[2018-06-13 20:48] aglitke commented on #203
I thought we just recently merged a PR in kubevirt-ansible that pinned the CDI release to a specific version.  The plan was that CDI would make real releases as appropriate.  Kubevirt-ansible contains a reference to a specific CDI version and will always deploy that version until someone updates that release to a newer one.  What do we need to do to get there?

[2018-06-13 20:52] davidvossel commented on #203
kubevirt-ansible needs the ability to treat cdi releases separate from kubevirt.  CDI should be able to perform releases at whatever cadence makes sense for the CDI project.

[2018-06-13 20:52] jeffvance commented on #203
@aglitke This is fine. Does the CDI release string need to _exactly_ match some expected kubevirt release tag, or does CDI have the freedom to generate releases with its own, unique release strings? IOW, how tied to kubevirt's release ids is CDI?

[2018-06-13 20:57] davidvossel commented on #203
@fabiand you may want to weigh in on this discussion

[2018-06-14 01:42] shiywang commented on #203
I'm okay with that, once my e2e [test](https://github.com/kubevirt/kubevirt-ansible/pull/246)  in kubevirt-ansible got merged and we enabled storage in CI test, I think CI will detect each releases matches fit in or not.

we can even use CI to generate a test matrix/grid to show each specific cdi version and kubevirt version functioning well or not.

[2018-06-14 15:57] jeffvance opened #205 "Document CDI release steps"

[2018-06-14 20:46] #199 closed

[2018-06-15 00:13] shiywang opened #213 "v0.5.0-alpha.0 controller trying to pull cdi-importer:v0.6.0-alpha.0 ?"
[code]
[code]

[2018-06-18 17:40] jeffvance commented on #205
close by #214

[2018-06-18 17:40] #205 closed

[2018-06-18 17:40] copejon commented on #213
@shiywang As part of converting CDI to tracking it's own versions (instead of mirroring kubevirt's versions) we have released v0.5.0 and v1.0.0.  `*-alpha` versions should NOT be used as they are considered broken.

v0.5.0 reflects the legacy PVC annotations and v1.0.0 reflects the new PVC annotations.

[2018-06-18 17:45] jeffvance commented on #177
closed by prs: #208, #209, #212

[2018-06-18 17:45] #177 closed

[2018-06-19 13:10] nellyc opened #216 "Report code coverage"
Set up code coverage calculation on Travis to determine the effectiveness of the unittests

[2018-06-19 13:10] nellyc commented on #131
this should be measured by #216

[2018-06-19 13:16] nellyc commented on #213
this was caused by the release cycle issue.
fixed by the 0.5.0 release
closing

[2018-06-19 13:16] #213 closed

[2018-06-19 14:59] copejon commented on #203
CDI releases will now follow a cadence coinciding with the sprint development cycle.  See https://github.com/kubevirt/containerized-data-importer/blob/master/doc/releases.md#version-and-release

Changes to the CDI release process addressed by PRs:
#214 #212 #209

[2018-06-19 14:59] #203 closed

[2018-06-19 15:10] copejon opened #217 "Travis - Automate a release email to mailing list"
Whenever a new release is published, announce the release to the team's mailing list automatically via travis-ci.

[2018-06-19 17:00] jeffvance commented on #55
Can someone add a use case for this issue? Thanks!
@nellyc @shiywang @davidvossel

[2018-06-19 17:08] copejon commented on #153
Fixed by #158

[2018-06-19 17:08] #153 closed

[2018-06-19 17:09] jeffvance commented on #79
No longer under consideration

[2018-06-19 17:09] #79 closed

[2018-06-20 07:29] nellyc commented on #55
for me its just to avoid having some person's name in the code
docker.io/jcoperh

[2018-06-20 14:00] davidvossel commented on #55
if we're using the the hardcoded "docker.io/jcoperh/importer:" prefix, how can I test my own dev build of the importer?

In kubevirt, we pass the VM pod's image as a cli arg to our virt-controller component. https://github.com/kubevirt/kubevirt/blob/master/manifests/dev/virt-controller.yaml.in#L37

The same thing could be done here with CDI.  the cdi controller would take an argument to represent

[2018-06-21 23:58] screeley44 commented on #157
#218 closes this issue

[2018-06-21 23:58] #157 closed

[2018-06-22 14:58] screeley44 commented on #216
@nellyc - is there an example of how to do that already, I'm assuming that is already done in the kubevirt repo that we can follow?

[2018-06-24 06:50] nellyc commented on #216
@screeley44 Yes, it is done in kubevirt, you can probably get more information from @rmohr.
I see they are calling 'go test -cover' in: hack/goveralls.sh and this script is called in .travis.yml

[2018-06-25 07:42] rmohr commented on #216
Yes, works exactly like @nellyc said. I think the only thing to add is that we also have a switch which detects if the tests are run on travis and if they are run on the "kubevirt/kubevirt" repo: https://github.com/kubevirt/kubevirt/blob/master/.travis.yml#L23. Also note that in theory it is possible to run goveralls alone and it would  do everything for you, but it has issues with go 1.10. Theref

[2018-06-25 16:12] nellyc opened #221 "add storageclass to golden-pvc example"
I think it will be good to add the storageclass (marked as optional) to the example file
manifests/example/golden-pvc.yaml

it would be extra nice to have at least some of the available values there as well,
i keep forgetting how to mark glusterfs :)

[2018-06-26 14:54] dcritch opened #223 "Provide a jinja2 template for the cdi manifest"
Similar to the request for a j2 version of the kubevirt manifest [0], it would be sweet if we could also get a jinja2 template for the cdi manifest. The work being done to create one for kubevirt [1] likely can be re-used for cdi.

[0] https://github.com/kubevirt/kubevirt/issues/966
[1] https://github.com/kubevirt/kubevirt/pull/1116

See also issues #55 and #252

[2018-06-27 01:33] jeffvance commented on #66
closed by pr #220

[2018-06-27 01:34] jeffvance commented on #66
close by #220

[2018-06-27 01:34] #66 closed

[2018-06-27 01:37] jeffvance commented on #223
But see @davidvossel 's [comment](https://github.com/kubevirt/kubevirt/issues/966#issuecomment-385427933)

[2018-06-27 14:44] dcritch commented on #223
Yes, we are aware of the caveat. The automation team is also moving to releases so we should be able to align kubevirt releases with kubevirt-ansible releases. Meanwhile, folks are going to want to be able to specify their own registry/namespace if they are hosting their registry locally, or for offline installs.

[2018-06-27 16:30] jeffvance commented on #223
My preference at the moment is to only support Go templates, see issue #55. I am concerned that CDI becomes responsible for several different templates that are related to our versioned manifest. So whenever we need to change the manifests we'd also have to change all related templates. If we provided a Go template for the manifests are you able to convert that into innja2?

[2018-06-27 17:20] jeffvance opened #226 "The original size of .gz and .xz files is not available"
pr #220 provides the size for _iso.tar_, _iso.tar.gz_, _iso.tar.xz_, _.qcow2_, _qcow2.tar_, _qcow2.gz_,  _qcow2.tar.gz_, _qcow2.xz_ and _qcow2.tar.xz_ files based on header metadata. These file formats are supported because the inner most "wrapper" is either tar or qcow2 and both of these formats contain size metadata. However, _.iso_, _iso.gz_, and _iso.xz_ files are excluded because there is no

[2018-06-27 17:29] jeffvance commented on #221
@nellyc We don't include storage class details for CDI purposely because we think that this detail is up to the cluster/storage admin. This is the person who creates storage classes and decides what the default SC will be. It seems that if we include specific SCs for gluster then would we also need to include sample SCs for all of the popular storage provisioners?

[2018-06-27 19:52] dcritch commented on #223
That's originally what kubevirt-ansible was doing with kubevirt. While technically possible, it ends up being a messy hack with a bunch of sed's.

I played around with a go to jinja2 converter and it seemed to work okay, but the issue was more about when to/what triggers that conversion. We'd have to track kubevirt (and cdi) to check for a new release so the j2 could be built.

@rmohr has a great

[2018-06-27 20:01] jeffvance commented on #223
@dcritch

We do not build go templates yet but we are planning on doing that at some point, which is what issue #55 is about.
Thanks for the reference to @rmohr's script.
And, btw, if the current CDI priorities are not aligned with your needs please feel free to implement this templating work. Consider Makefile and travis implications. Thanks.

[2018-06-28 08:22] nellyc commented on #221
@jeffvance you can skip the values if you dont think its valuable,
but i think that adding the field itself and marking it as optional, will show users, who would like to control that, how to do it
it will just make it a more complete example

[2018-06-29 18:45] jeffvance opened #230 "as a fallback use transport (http, https, s3) to determine the importer's endpoint's size"

[2018-07-02 18:51] jeffvance opened #232 "document image size calculations and restrictions"
This can be added to the readme file.

[2018-07-02 18:54] #155 closed

[2018-07-02 21:09] copejon opened #235 "Refactor Controllers - Remove Redundant Code"
A significant amount of boilerplate code is duplicated between the CDI, DataVolume, and (soon) the Host Assisted Cloning controller.  After the clone controller is merged, work needs to be done to shore up this redundant code and restructure common functionality into a generic controller.

[2018-07-03 16:38] #232 closed

[2018-07-03 20:21] jeffvance opened #239 "replace "app=containerized-data-importer" label with "cdi.kubevirt.io""
Per comments in pr #237.
Label format would be `cdi.kubevirt.io=""`

[2018-07-05 20:18] jeffvance commented on #239
CDI is standardizing labels and the import-controller needs to be updated to use the current cdi.kubevirt.io label. See also pr #237

[2018-07-05 20:29] copejon opened #240 "Explicitly Disable docker builds & tests"
At preset, no standard developer build environment exists as the Makefile will silently opt not to use Docker automatically if it is not detected.  This means that the containerized build environment may or may not be used to compile the project and no obvious notification is provided back to the dev.  This breaks any notion of a standardized build env.

Docker should be the default build env and

[2018-07-05 20:34] jeffvance commented on #226
Fixing issue #230 negates this issue.

[2018-07-05 20:50] jeffvance commented on #221
Agree. We'll add the storageClass field with a value of "standard" (default).

[2018-07-05 20:53] copejon commented on #217
Travis-CI does not support notifications on specific event.  It's either all or nothing, which requires configuration on the mailing-list side to filter out spammy CI notifications.

[2018-07-05 21:33] davidvossel commented on #235
this my running list of controller changes we need to address at some point. I can help with some of this.

1. owner references
2. single work queue
3. use expectations so we can trust the cache to be sycned
4. use the cache to discover which pods are associated with import/clone jobs.

[2018-07-07 06:20] rmohr commented on #217
You can use a custom deploy step and use the same conditions like you use for creating a github release inside travis:

[code]

[2018-07-08 02:10] jeffvance opened #243 "add unit and functional tests to the cloner controller"
Unit and functional tests were omitted due to some schedule pressure but these need to be added asap.
@zvikorn @screeley44

[2018-07-08 02:10] jeffvance commented on #243
@screeley44, do you have time to work with Tzvi on this issue?

[2018-07-09 06:13] jeffvance opened #244 "document the cdi cloner"
Initially the README file can be updated.
@zvikorn

[2018-07-09 16:30] jeffvance commented on #243
/lgtm

[2018-07-10 00:43] #226 closed

[2018-07-10 00:47] jeffvance opened #248 "add lib.Size() unit and functional tests"
#227 has been merged and we need to ensure that all image size related tests work and that we aren't lacking any such tests.

[2018-07-10 17:36] #243 closed

[2018-07-10 19:11] jeffvance opened #251 "add functional tests to the cloner"
We now have unit tests thanks to #247 but we need functional tests.
@screeley44 @zvikorn

[2018-07-10 19:44] davidvossel opened #252 "release v1.1.0-alpha1 uses v1.0.0 importer pod"
importer pod v1.0.0 is hard coded as the default unless an ENV VAR is set to specify a different one. Our latest CDI release does not set that ENV VAR which means we have a v1.1.0-alpha.1 version using the old v1.0.0 importer pod.

example manifest.  ENV VARs need to be set in this manifest reflecting the importer pod version the controller should use.
[code]

[2018-07-11 18:13] jeffvance commented on #252
@davidvossel  I think resolving these issues (#55, #223) using templates will solve this and similar problems. Thoughts?

[2018-07-11 18:38] copejon commented on #252
#253 should not be merged, but describes the cause of the problem here. I _think_ that by rebasing master onto v1.1.0-alpha.1 tag, then pushing to master, this will fix the issue.  The cause of this I'm still not sure of.

[2018-07-11 19:23] copejon commented on #252
I've downloaded and deployed the v1.1.0-alpha.1 release in minikube.  What I see is that it does use the cdi-importer:v1.1.0-alpha.1 image for the importer pod.

Now, currently, master is in a unstable state because of what I describe in #253.  If you're building from master, then the behavior you're describing is definitely happening.

[2018-07-12 17:52] jeffvance opened #254 "enhance importer to use qemu-img pseudo streaming to save /tmp step"
For qcow2 files, rather than copying to _/tmp/rand-name_ and then running `qcow2-img` to convert it to raw, we can use `qcow2-img` to copy the file and convert it, saving the intermediate step and saving disk/cpu on the host.  Of course _.tar.gz_, _.xz_ conversion needs to still be done first so this may only help for the simple case of importing _.qcow2_ --> raw.

Some timings from a recent email

[2018-07-16 14:00] zvikorn opened #261 "Pod-affinity fails when cloning is done within same namespace"
In an environment of one node, when we try to clone from one PVC to another within one namespace, only one pod is schedules on the node. The other one fails to be scheduled. Need to check if pod-affinity is defined well. If we clone across two namespaces, it works. meaning - both source and target pods are schedules on the node.

[2018-07-17 00:09] jeffvance commented on #261
Do you mean _namespaces_ here or _nodes_

[2018-07-17 03:15] zvikorn commented on #261
Namespaces. Why this was closed?

[2018-07-17 07:06] jeffvance commented on #261
Sorry, I clicked the wrong button.
/reopen

[2018-07-17 18:12] #244 closed

[2018-07-19 11:35] awels commented on #261
Note that currently in a multi node environment if you clone from different name spaces, the pods can be scheduled on different nodes, and thus fail. I will test the patch against that scenario.

[2018-07-19 11:44] zvikorn commented on #261
This was fixed in the patch

[2018-07-19 12:07] davidvossel commented on #252
if the importer container is a templated value then it will.

[2018-07-19 15:07] jeffvance opened #268 "do some basic performance measurements on importing..."
and test if buffered i/o should be used for the various schemes supported (https, s3, file).

[2018-07-20 18:00] jeffvance commented on #261
#265

[2018-07-20 18:00] #261 closed

[2018-07-24 18:37] screeley44 commented on #156
added initial tests in #267

[2018-07-24 18:37] #156 closed

[2018-07-24 21:00] copejon opened #272 "Deprecation Notice - cdi-controller-deployment.yaml"
Beginning in v1.1.0, `manifests/cdi-controller-deployment.yaml` will be considered deprecated and replaced by generated manifests provided by releases or by running `make

The file will be removed in v1.2.0.

[2018-07-25 19:20] aglitke commented on #239
Would be nice to see all resources created by cdi have the same label applied.  This is what kubevirt does and makes it easy to manage the installation.

[2018-07-26 15:37] copejon commented on #216
Fixed by #274

[2018-07-26 15:37] #216 closed

[2018-07-27 22:29] jeffvance opened #277 "change the name of the cloner startup script to be more meaningful"
Per suggestions, let's change the cloner's startup script from _cmd/cdi-cloner/script.sh_ to a more meaningful name, eg _cloner_startup.sh_

[2018-07-29 11:36] zvikorn opened #279 "Remove cloning label from target pods to fix pod affinity"
Having the cloning label in the target pod, make the pod affinity fails.
The target pod looks for a pod with a specific label (specified in the pod affinity) that matches the source pod label.
In my case the target pod included this label as well, so we can see that the target pod found matching pod, but it is the WRONG pod. It's itself!!
The target was running without finding the source pod first

[2018-07-29 12:31] zvikorn commented on #279
Fixed. PR - https://github.com/kubevirt/containerized-data-importer/pull/280

[2018-07-29 16:47] Atul9 commented on #277
@jeffvance I have opened up a PR - #278 Can you check?

[2018-07-30 02:29] shiywang commented on #223
@dcritch are you working on this? if not I'm going to take a look, this is kind of a block for my automation job. cc @nellyc @jeffvance @copejon  as well.

[2018-07-30 05:47] jeffvance commented on #223
Note merged pr #269. However, the only manifest that is generated from a template is _cdi-controller-deployment_. We still need to generate and consume the importer and pod manifests.

[2018-07-30 06:06] shiywang commented on #223
@jeffvance thanks for the notice, yeah, currently, I think `kubevirt-ansible` need at least the manifest of `cdi-controller-deployment` to be exposed on release page by go template or jinja template, that's the basic requirement, furthermore, maybe we can generate and consume more resource as we need.

[2018-07-30 15:06] aglitke opened #281 "Install binaries into /usr/bin"
According to Linux container packaging best practices, binaries should be installed in their usual location.  Update the CDI images so that binaries are installed in /usr/bin.

[2018-07-30 17:25] zvikorn commented on #235
The refactoring was not completed though. right?

[2018-07-30 17:43] davidvossel commented on #235
right, the clone controller still needs to be refactored.

[2018-07-30 17:54] zvikorn commented on #235
I meant the CDI :-)
We need super controller, some kind of interface to hold all common methods among the controllers.

Sent from my iPhone

[2018-07-30 18:11] #277 closed

[2018-07-30 20:32] aglitke opened #284 "Fix branch name for 1.1.z release"
The branch name for the 1.1.z z-stream should be named release-1.1 not release-v1.1.0.  Please create this branch and delete the old named one before merging any commits there.

[2018-07-30 21:37] copejon commented on #284
Fixed

[2018-07-30 21:37] #284 closed

[2018-07-30 22:28] #281 closed

[2018-07-31 07:32] shiywang commented on #223
@jeffvance @copejon @nellyc could we raise the priority of this issue, it matters `kubevirt-ansible` deployment installation/ e2e tests a lot.

[2018-07-31 07:51] shiywang opened #285 "Define a label specific to importer pods"
Former title: `Make each importer-pod with a unique label`

When importer controller creates different importer-pods, could we make each pod add a unique label instead of currently only one label `app=containerized-data-importer`? prefix could begins with pvc name.

this is not a high priority, but it would be nice if we could have it.

cc @jeffvance @copejon

[2018-07-31 15:53] copejon opened #286 "Document & log file:/// endpoints as debug use only"
Use of the `file:///` endpoint location is causing confusion with users who attempt to access a file on the host filesystem.    The local file scheme is designed with debugging in mine ( e.g. when running the importer binary on the host machine outside of a container).   This needs to be documented and log output needs to be produced to better inform users.

It should be noted in the [README.md](h

[2018-07-31 16:45] jeffvance commented on #279
fixed #280

[2018-07-31 16:45] #279 closed

[2018-07-31 16:46] jeffvance commented on #285
@shiywang can you provide the customer or QE use case for this? Thanks.

[2018-07-31 16:47] jeffvance commented on #223
@shiywang can you provide some more details on how this matters to kubevirt-ansible cdi testing? Thanks.

[2018-07-31 17:16] aglitke opened #287 "Cannot set an ownerRef on a resource you can't delete"
When attempting to import into a PVC the following error appears in the logs:

E0731 17:09:55.135611       1 import-controller.go:206] error processing pvc "default/golden-pvc": importer pod API create errored: pods "importer-golden-pvc-g4nsb" is forbidden: cannot set an ownerRef on a resource you can't delete: User "system:serviceaccount:default:cdi-sa" cannot delete pods in project "default", <n

[2018-07-31 17:19] jeffvance commented on #287
@davidvossel can you take a look?

[2018-07-31 17:24] screeley44 opened #288 "cdi importer: open /data/disk.img: permission denied"
This requires some SELinux magic to fix - not sure if this error will be addressed by ansible and the automated parts of the setup?  But for now, we should document that if you hit this error to:

`setenforce 0`

or maybe there is a more elegant way

[2018-07-31 17:26] screeley44 opened #289 "cdi cloner: pods "clone-source-pod-" is forbidden: unable to validate against any security context constraint: [spec.volumes[1]: Invalid value: "hostPath""
During testing I fixed this by adding:

`oc adm policy add-scc-to-user privileged -n default -z cdi-sa`

need to document this at the least or this will probably be addressed in automation/ansible

[2018-07-31 17:28] screeley44 opened #290 "cdi importer: cannot set blockOwnerDeletion"
This is fixed with PR 249 - will close once this is back-ported to v1.1.0

[2018-07-31 17:32] jeffvance commented on #290
May also be related to #287

[2018-07-31 17:34] jeffvance commented on #289
@screeley44 Is this an issue that CDI can resolve? IOW, are you proposing better error messages or openshift specific doc?

[2018-07-31 17:35] davidvossel commented on #287
those verbs should be in the controller manifest already as well

[2018-07-31 17:35] jeffvance commented on #288
Thanks. It would be nice to find a more granular solution. And there is likely a doc need here too.

[2018-07-31 17:41] aglitke commented on #290
Dupe of #287

[2018-07-31 17:41] #290 closed

[2018-07-31 17:43] jeffvance commented on #287
@screeley44 @aglitke Is this a master (:latest) issue or an issue with our current release-v.1.1 branch?

[2018-07-31 17:56] aglitke opened #292 "Wrong API Group specified for blockOwnerDeletion"
When attempting to import into a PVC the following error appears in the logs...

E0731 17:53:43.133558       1 import-controller.go:206] error processing pvc "default/golden-pvc": importer pod API create errored: pods "importer-golden-pvc-t5zvn" is forbidden: cannot set blockOwnerDeletion in this case because cannot find RESTMapping for APIVersion apps/v1 Kind PersistentVolumeClaim: allowed by ope

[2018-07-31 18:24] jeffvance commented on #286
@copejon what is the actual confusion?
Also, I think the issue title is a bit restrictive since `file://` endpoint are often used in testing

[2018-07-31 18:35] screeley44 commented on #290
it wasn't but issue 292 covers it as well :-)

[2018-07-31 18:36] screeley44 commented on #292
this is fixed with PR #249 afaict as stated in closed issue #290

[2018-07-31 18:53] mhenriks opened #294 "import failure in minishift with CDI 1.1"
Running latest 1.1 (includes RBAC stuff in #291) fails with this error:

This is because PersistentVolumeClaim is in v1 namespace not apps/v1.

PR forthcoming

[2018-07-31 18:57] aglitke commented on #294
Dupe of #292 fixed by #293

[2018-07-31 18:59] #294 closed

[2018-07-31 19:35] aglitke opened #295 "Permission errors when initiating clone"
The clone source pod fails to create with the following error:

E0731 19:32:34.595426       1 clone-controller.go:213] error processing pvc "default/target-pvc": source pod API create errored: pods "clone-source-pod-" is forbidden: unable to validate against any security context constraint: [spec.volumes[1]: Invalid value: "hostPath": hostPath volumes are not allowed to be used spec.containers[0].

[2018-07-31 19:42] mhenriks commented on #295
This help?

oc adm policy add-scc-to-user privileged -z hostpath-sa

[2018-07-31 19:53] aglitke commented on #295
Actually you need (for kubevirtci based environments):

[code]

[2018-07-31 19:54] aglitke commented on #295
The issue is that I didn't find this documented anywhere.  According to the README.md you just need to deploy the manifests.

[2018-07-31 20:09] aglitke opened #296 "clone_startup.sh moves the file into tmp/clone/image in the destination PVC"
When cloning a source pvc to a target pvc the target pvc has a different file hierarchy.  This is because tar is invoked at the container root in the source case but expanded inside the pvc volume mount in the target case.  Fix by using pushd in the source case as well.

[2018-07-31 20:22] aglitke opened #298 "[BACKPORT] clone_startup.sh moves the file into tmp/clone/image in the destination PVC"
Backport #297 to 1.1

[2018-07-31 20:28] #296 closed

[2018-07-31 20:49] aglitke commented on #292
fixed by #293

[2018-07-31 20:49] #292 closed

[2018-07-31 20:50] aglitke commented on #287
fixed by #291

[2018-07-31 20:50] #287 closed

[2018-07-31 20:57] aglitke opened #299 "Cloning node affinity not working with local storage"
When using local storage with cloning if the target pod is scheduled first, it might bind to a PVC on a different node than the source pod.  In that case it will be impossible to schedule the target pod since it requests affinity with the source pod (which is bound to the node containing the source pvc) and affinity with the target pvc which is on a different node.

The solution is probably to spa

[2018-07-31 20:58] aglitke opened #300 "[BACKPORT] Cloning node affinity not working with local storage"
Backport the resolution to Issue #299 to the 1.1 release branch

[2018-08-01 00:37] aglitke opened #302 "[BACKPORT] Remove cloning label from target pods to fix pod affinity"
Backport #279 to 1.1 branch

[2018-08-01 00:45] aglitke commented on #288
On which environment did you encounter this?

[2018-08-01 01:40] jeffvance commented on #299
I think maybe kubernetes _expectations_ may help here  @davidvossel ?

[2018-08-01 01:46] jeffvance commented on #252
@davidvossel I believe merged pr #246 (and a couple of related minor follow-up prs) address this issue. Let me know if this is true and I'll close it.

[2018-08-01 01:58] jeffvance commented on #131
various test related prs have basically fixed this issue and we also now use goveralls for code coverage.

[2018-08-01 01:58] #131 closed

[2018-08-01 04:14] zvikorn commented on #299
Was the target pod scheduled before the source pod? It should be in pending state until the source pod is created.

[2018-08-01 04:39] jeffvance commented on #299
Interested in feedback from @davidvossel but _maybe_ expectations could be used to ensure that the source pod is created and running before the target pod is created. The create order in the code does not dictate the order these pod will actually be scheduled/created. I don't see in the cloner code a mechanism to ensure the source pod is scheduled/created prior the target pod.

[2018-08-01 04:47] zvikorn commented on #299
I don’t understand why we need this. The target pod will be in pending state until the source pod is scheduled

Sent from my iPhone

[2018-08-01 12:01] zvikorn commented on #299
"When using local volumes, it is recommended to create a StorageClass with volumeBindingMode set to WaitForFirstConsumer. See the example. Delaying volume binding ensures that the PersistentVolumeClaim binding decision will also be evaluated with any other node constraints the Pod may have, such as node resource requirements, node selectors, Pod affinity, and Pod anti-affinity."

[2018-08-01 12:45] aglitke commented on #298
Fixed by #301

[2018-08-01 12:45] #298 closed

[2018-08-01 12:45] aglitke commented on #302
Fixed by #301

[2018-08-01 12:45] #302 closed

[2018-08-01 13:04] aglitke commented on #299
On my 3.9 cluster it appears I was missing a feature gate.  According to [the docs](https://github.com/kubernetes-incubator/external-storage/tree/local-volume-provisioner-v2.0.0/local-volume#enabling-the-alpha-feature-gates) the three required are:

 - PersistentLocalVolumes=true
 - VolumeScheduling=true
 - MountPropagation=true

You are also correct that the volumeBindingMode must be WaitForFirst

[2018-08-01 13:05] aglitke commented on #299
Retesting this with the necessary changes....

[2018-08-01 13:28] aglitke commented on #299
Proper enablement of the feature gates has resolved this problem.  Closing.

[2018-08-01 13:28] #299 closed

[2018-08-01 13:29] aglitke commented on #300
Closing as #299 was deemed a storage configuration issue and not a bug in cdi.

[2018-08-01 13:29] #300 closed

[2018-08-01 13:52] copejon commented on #286
@jeffvance The confusion comes from users attempting to import files from the host's f/s, which isn't possible to do from inside a container.

The process was added early in CDI as a way to quickly test/debug import logic - we could just execute the binary directly on the host, which allowed it to access the host's f/s.

 We've seen several emails and a bugzilla opened against this already which i

[2018-08-01 15:09] jeffvance commented on #299
@aglitke Should there be a doc issue somewhere to capture these requirements:

VolumeScheduling=true
MountPropagation=true
volumeBindingMode must be WaitForFirstConsumer

[2018-08-01 15:14] aglitke commented on #299
It's specific to k8s < 1.10 with local storage.  I think it belongs in the domain of storage setup.  At least if someone hits this issue again with local storage we'll have it documented here in this issue and we can reference it.

[2018-08-01 17:50] jeffvance opened #306 "update readme regarding cluster requirements for k8s < 1.10 and pod scheduling"
Add to README cluster requirements so that the cloner pods reside on the same node and run in the correct order.

The reason for this issue is in consideration of a user, running the cloner on a cluster not configured as:
[code]
and the target and source pods end up being scheduled on different nodes. In this case the target pod will wait for 15s before giving up. Log info does help identify the p

[2018-08-02 16:33] #286 closed

[2018-08-02 17:25] #306 closed

[2018-08-06 19:52] copejon opened #318 "Format identification only targets ustar version "00""
The byte slice used for format identification is overly specific for [tar files](https://github.com/kubevirt/containerized-data-importer/blob/master/pkg/image/filefmt.go#L38).  As is, the slice matches `ustar.00` and not `ustar .`.  This causes the datastream to noop `ustar .` when it should unarchive.  The result is the unrecognized tarball passed through the pipeline and written to disk as `disk

[2018-08-06 20:07] #318 closed

[2018-08-07 12:40] nellyc commented on #285
@shiywang can you please add more info

[2018-08-07 12:46] shiywang commented on #285
so I have multiple importer-pods and I want to fetch one of them using a script, but the labels is same, I have to write some complex sed, awk command to fetch them.
also in code here: https://github.com/kubevirt/kubevirt-ansible/blob/master/tests/cdi/cdi_test.go#L38 I have to delete previous pod, then I can use same label to fetch the new one.

[2018-08-07 12:48] aglitke commented on #268
Should we keep this issue around or close it?  I think we shouldn't have an issue until we have identified an actually performance problem.

[2018-08-07 13:24] erinboyd commented on #268
@aglitke I think it's meant more for tracking. But you are welcome to close in favor of a trello card.

[2018-08-07 15:29] jeffvance commented on #285
@shiywang There is a 1-1 mapping of a pvc to a golden image. Each importer pod contains the name of the triggering pvc so if you know the name of the pvc you can find the importer pod. I don't see how a unique (random) label is different from the existing unique pod names.

[2018-08-07 15:31] jeffvance commented on #268
Yes to @erinboyd 's comment.

[2018-08-07 15:46] #223 closed

[2018-08-07 15:53] jeffvance opened #322 "copy cdi-deployment manifest as part of `make manifests`"
This may be a short-term fix so that we don't have to manually update the version string in the deployment manifest. Longer term we may or may not want to include any manifests in the cdi repo.

[2018-08-08 06:02] shiywang opened #323 "Post jinjia template on release page"
Although this https://github.com/kubevirt/containerized-data-importer/issues/223 was closed, I haven't seen jinja template posted on release page, this is an issue to track that, I'll close it once I see it appears on the release page. then I will start to look at https://github.com/kubevirt/kubevirt-ansible/issues/301 https://github.com/kubevirt/kubevirt-ansible/issues/327

@copejon thanks!!

[2018-08-08 06:06] jeffvance commented on #285
@shiywang I am still having a problem understanding how a unique label per pod (and I assume there is some randomness in this label to obtain uniqueness) is any different from a unique, generated pod name. If this issue was not requesting *unique* labels I could understand it better, since the existing label applies to non-pods too. But requesting unique importer pod labels still doesn't make sens

[2018-08-08 07:58] shiywang commented on #285
@jeffvance
I have three pods here:
[code]
How do I check the status of `importer-test-pvc-asdfd` with one command? because three of them are having the same label.

`oc get pod importer-test-pvc-asdfd` doesn't work, because I can't predict the generated string `asdfd`

[2018-08-08 15:45] jeffvance commented on #285
@shiywang I understand that the random part of the pod's name needs to be handled. I'm asking for examples of pod labels that are both unique and predictable so that you do not need to parse out whatever it is that makes the label unique. Unique is in the title of this issue. Thanks.

[2018-08-08 16:18] screeley44 commented on #288
encountered on OCP 3.9 using `oc cluster up`

[2018-08-08 22:23] jeffvance opened #324 "make sure the datastream reader stack does not contain an extra multi-reader"
In a recent pr it was discovered that there is an extra multi-reader in the importer's dataStream's reader slice. If this is true we should fix it.

[2018-08-09 02:25] shiywang commented on #285
@jeffvance thank you and sorry for writing an misleading title, English is my second language ; )

[2018-08-09 14:47] jeffvance commented on #285
@shiywang No worries and your English is very good. So, to rephrase this issue: you are asking for an importer pod specific label that identifies the importer pod(s) as being cdi importer pods, but not other cdi resources, such as cloner pods or golden pvcs, correct?  For example:
[code]

[2018-08-09 18:45] screeley44 opened #327 "Update and add new make functest instructions to hack/README.md"
after PR #314 - need to also add updates to the hack/README.md with basic description and instructions on how to run this

[2018-08-09 19:04] aglitke commented on #288
@screeley44 What kind of underlying storage?  HostPath? Local Storage?

[2018-08-09 19:12] aglitke commented on #268
This is a tracking issue.  Revisit relevance in October 2018.

[2018-08-09 19:46] jeffvance commented on #323
closed by pr #321

[2018-08-09 19:46] #323 closed

[2018-08-09 20:56] jeffvance commented on #327
@screeley44 can you paste here the steps you used to get this to work? Then a new pr should be easy.

[2018-08-10 20:32] jeffvance opened #329 "in-docker script missing .sh extension"
See: https://github.com/kubevirt/containerized-data-importer/blob/master/hack/build/in-docker

[2018-08-10 23:45] jeffvance opened #331 "should there be a default provider defined in cluster/up.sh?"
and if so should it be "k8s-1.10.4"?

[2018-08-13 18:30] aglitke commented on #331
Yes.  I was going to propose something like this as well.  It should probably be the latest reasonable k8s release so the above looks good to me.

[2018-08-14 12:47] nellyc commented on #324
has this already been fixed @jeffvance ?

[2018-08-14 12:52] nellyc commented on #331
Is there a PR for this one already?

[2018-08-14 15:22] copejon opened #335 "Intermittent CI failures in master"
CI is failing sporadically on the [CI master branch buildes](https://travis-ci.org/kubevirt/containerized-data-importer/builds/415627625).

The failures occur with tests involving `xz`:

Message: `could not format test data: Error writing to file: limit reached`

Complete test output:

[code]

[2018-08-14 15:31] jeffvance commented on #324
@nellyc I am working on it now. Will post pr later today.

[2018-08-14 15:32] jeffvance commented on #331
@nellyc No pr yet.

[2018-08-14 16:12] jeffvance commented on #331
@awels mentions in pr #332 that there is a provider default ( k8s-1.10.4)

[2018-08-14 16:12] #331 closed

[2018-08-14 16:16] #327 closed

[2018-08-14 19:06] jeffvance opened #338 "deprecate import of local (file://) endpoints"
This is **deprecation** only. Actual removal of local (file://) endpoint support will be in a forthcoming issue.
See pr #341

@nellyc @aglitke @davidvossel @erinboyd

[2018-08-15 16:53] #324 closed

[2018-08-15 23:43] jeffvance commented on #338
Deprecation notice will read:
[code]
Steps:
- [ ] add deprecation notice to main readme and _hack/_ readme.
- [ ] add deprecation notice to _pkg/import/dataStream.go_ and related test suites.
- [ ] log deprecation notice cdi-controller and importer logs.
- [ ] update open local (file://) import BZs with this deprecation notice.
- [ ] create trello card referencing this issue and the resulting pr f

[2018-08-16 14:48] erinboyd commented on #338
@jeffvance did we ever officially claim in a release that we supported file:///? I thought it was just stubbs for internal testing use and wasn't publicized for external consumption. I don't want you to have to go to extra work to remove it if that is the case, we can just delete it and move on.

[2018-08-16 16:03] jeffvance commented on #338
@erinboyd: we documented it in the readme and wrote tests that use it. We then documented in the readme that file:// is meant only for debugging and testing, and added that msg to the logs. But we got BZs and emails showing confusion and problems using file://. Now we are deprecating file:// and it can officially be deleted once we have a test framework (for unit and e2e) that serves files/images.

[2018-08-16 19:34] screeley44 commented on #322
I think this can be closed, the generated manifests are created in the folder called `generated` and the old controller manifest will be going away so not sure there needs to be any work done for this... @jeffvance do you agree?

[2018-08-16 19:53] aglitke commented on #252
This release has been superseded by newer releases which don't exhibit this problem.  wontfix.

[2018-08-16 19:53] #252 closed

[2018-08-16 21:00] davidvossel opened #347 "func test file server does not deploy"
@copejon I began rebasing my DataVolume functional tests off of the changes in #315 and noticed there are some things missing from the file server PR.

-  [ ] the test server is never deployed during 'make cluster-sync'
- [x] the test server is built during 'make functest' when it should probably be a part of the 'make docker' target
- [x] The test server's Docker file is installing the entire 'qe

[2018-08-17 10:47] lukas-bednar opened #350 "build-cdi-func-test-file-host.sh causes permission denied when being build"
How to reproduce:
* clone repo under regular user (non-root)
*  make functests

[code]
That target was introduced in #315

[2018-08-17 14:58] copejon commented on #350
This is caused by docker not translating the host FS perms into the container and instead chown'ing the host FS to root:root.  The quick fix is to containerize the `cp` script.  Will have a PR up shortly

[2018-08-17 15:36] lukas-bednar commented on #350
Thank you!

[2018-08-17 16:36] copejon commented on #350
@lukas-bednar BTW have you tried running the command w/ `sudo`?

[2018-08-17 16:49] lukas-bednar commented on #350
@copejon I haven't, it didn't come to my mind - I believe that every user should be able to build project without permission escalation ...

[2018-08-17 17:01] #350 closed

[2018-08-17 17:10] copejon commented on #347
Thanks for the notes - I'll have a PR up in today to address this.

Just a note: the `functest` target is going to go away and `test-functional` will replace it.  It was another `cp` from kubevirt that's made its way into the build flow and doesn't adhere to the naming scheme in the Makefile.

I haven't run into this in my own testing using both minikube or running it manually with a `docker run`.

[2018-08-17 18:49] davidvossel commented on #347
test this with 'make cluster-up' and 'make cluster-sync'.

[2018-08-17 19:59] copejon commented on #347
Oh, right.  Annoyingly `kubevirtci` only supports baremetal linux boxes, so I'm up a creek there.  I've tried a number of nested virt setups without any luck.

[2018-08-18 16:57] jeffvance commented on #338
There are still non-code steps remaining. Pr 341 closed this too early.

[2018-08-20 16:59] mhenriks commented on #338
After working on the uploader for a bit, I think it would be desirable to keep the file:// endpoint code for internal use.  I think the uploader will need it if/when we support multipart and/or resumable uploads.  To support those features, the uploader can't start using the dataStream methods stuff directly.  The uploader will have to first copy the file to to a temporary location (after potentia

[2018-08-20 17:52] jeffvance commented on #338
@davidvossel can you please comment on @mhenriks 's comment above?

[2018-08-20 17:53] copejon commented on #338
@mhenriks

I'm a little confused by this - is there a reason we can't connect the byte stream to the dataStream object as an io.Reader directly w/o having to write/read from disk?

[2018-08-20 17:59] aglitke commented on #338
On Mon, Aug 20, 2018 at 12:59 PM Michael Henriksen <notifications@github.com>
wrote:

Hmm. Why wouldn’t the upload receiver pod just implement an http server
which supports resume via offset and length http headers?  This should just
work out of the box with curl uploads.

invoke the dataStream on the temporary file. Does that make sense? So,

--
Adam Litke

[2018-08-20 18:03] mhenriks commented on #338
@copejon the dataStream code expects to read an entire file from beginning to end.

For the curl-esque upload case, this works is fine.  We can pass the body of a POST to the dataStream.

This does not work for multipart because we will receive parts of the file out of order and have to reconstruct the file before operating on it.

This does not work for the resumable case because the dataStream w

[2018-08-20 18:12] mhenriks commented on #338
@aglitke the dataStream expects to read a complete file beginning-to-end.  Synchronizing the dataStream object with multiple http requests (at potentially overlapping offsets) seems complicated.  Saving to temp file is simpler approach.  And will be needed for multipart anyway.

[2018-08-20 18:55] mhenriks commented on #338
Thinking about this a little more: having dataStream read from file:// is not strictly required for upload, but I think it will make things simpler.  Also, it's code that exists.  And seems to work.  But lacks tests.

For at multipart upload, we have to support receiving data out of order.  And this can be a lot of data, so it has to go to disk.  If dataStream doesn't read from a single file on di

[2018-08-20 20:04] aglitke commented on #217
I think we should provide tooling to help generate a consistent email message but let the release manager actually send it.

[2018-08-20 20:06] aglitke commented on #322
Worked fine when releasing cdi-1.1.1-alpha.1 -- closing.

[2018-08-20 20:06] #322 closed

[2018-08-20 20:20] aglitke commented on #335
How large are these files?  Might we be hitting up against a Travis resource limit of some sort?

[2018-08-20 20:27] aglitke commented on #338
If you have to store intermediate data to disk please use the volume itself and do in place conversion.  Otherwise we risk repeating the issue we had with qcow conversion.  The ephemeral pod filesystem should be considered very limited and our uploads will generally require multiple GBs of space.

[2018-08-20 20:28] xsgordon commented on #272
Note also the readme currently still has this:

[code]
Which of course no longer works for all possible variants of $VERSION.

[2018-08-20 21:07] davidvossel commented on #347
@aglitke i haven't seen any changes come in. @copejon is this something you'll be able to address?

[2018-08-20 22:32] jeffvance opened #359 "Common tags for ginkgo based tests, including functional(e2e) and unit tests"
This issue is here to start the definition of tags for all tests (functional and unit) that are based on the ginkgo framework. Ginkgo allows test filtering based on using regular expressions in the `skip=` and `focus=` test invocation args.  Eg. `ginkgo test ... -focus="\[e2e\]"`.

These tags can be simple/flat, eg _[e2e]_, _[importer]_, _[cloner]_, etc.  Or they can be hierarchical, eg: _[e2e/imp

[2018-08-20 22:34] jeffvance commented on #359
@nellyc @shiywang @copejon @screeley44 @davidvossel @awels

[2018-08-21 05:31] jeffvance commented on #335
Maybe my comments related to same issue in pr [352](https://github.com/kubevirt/containerized-data-importer/pull/352) is a possible explanation and potential fix.

[2018-08-21 10:44] nellyc commented on #359
Sounds good!
Just 2 comments:
* I think that 'E2E' should be renamed to 'Functional'
* I dont really like the idea of a Flaky tests tag, as we may end up forgetting about them ;) in my POV a flaky test should be either fixed ASAP or redesigned if we cannot fix it (basically we dont get any value from such tests a)

@fabiand what do you say about similar tags for kubevirt? (excluding feature specif

[2018-08-21 16:07] copejon commented on #335
@aglitke  The file is 18mb in size * 8 file format combinations.

The error is generated internally by the `github.com/ulitunitz/xz` package here https://github.com/ulikunitz/xz/blob/0c6b41e72360850ca4f98dc341fd999726ea007f/lzma/bytewriter.go but it's not clear _what_ triggers this error.

[2018-08-21 17:18] jeffvance commented on #335
However, @copejon mentioned the new _xz_ pkg may be the culprit here. More digging...

[2018-08-21 17:47] copejon commented on #335
I'm not convinced this is related to the storage footprint of the tests - the error happens only occasionally in CI.  I'm also able to reproduce it after 10 or so consecutive runs on my local env, but then it goes away in the next iteration.

@jeffvance pointed out that this error is returned by the xz projects function
[code]

So for whatever reason, `l.N` is sometimes smaller than expected.

[2018-08-21 18:14] copejon commented on #335
2 more `limit reached` errors have occurred in master CI.

The errors all happen specifically in the `.tar.xz` test.

[2018-08-21 18:19] mhenriks commented on #338
@aglitke we are veering off the topic of this PR but I'm not sure what you mean by in place conversion.  We can't convert qcow2 to raw in place.

Also, `qemu-img convert` doesn't work on streams (standard input) so for the case when a user uploads a qcow2 image, it has to be saved to intermediate storage first.

I agree that we shouldn't use the container filesystem for storage, but if looks like

[2018-08-21 21:13] davidvossel commented on #338
@mhenriks do we really have to deal with receiving data out of order?  I thought data ordering would only come into play once we considered resumable uploads.

From what I gathered, multipart uploads were handled by a single tcp connection as part of a single http request. Basically the http request says it's a multipart upload, there's some boundary characters set, and the client just starts stre

[2018-08-22 01:34] mhenriks commented on #338
@davidvossel I think you are thinking of chunked transfer encoding [1]

Multipart uploads involve several, possibly concurrent, http requests, each sending a part of a file.  Like what this javascript library [2] that was mentioned in the email thread does.  Services like S3 also support multipart upload in one form or another.  But far as I know, there is no standard for it.

[1] https://en.wikip

[2018-08-22 11:32] awels commented on #359
One more to add [OC] means its an openshift specific test, that requires either an open shift client or oc instead of kubectl.

To help polarion we would also like to put on context or it level another 'tag' that is more complex that contain a set of values to help polarion organize the tests. The format would look something like this:
[rfe_id: xxx, crit: (low/med/high), level: component, componen

[2018-08-22 14:34] aglitke commented on #359
Seems okay to me.  @jeffvance Could you create a PR that documents the test tags we agree to use somewhere in the repo?

[2018-08-22 14:55] copejon commented on #335
@jeffvance - @aglitke asked if we could disable this test in master to stop the random blocking on PRs.  I'll have a PR up soon for that.

This won't block us from trying to catch the bug in CI however if you do not rebase `master`.

[2018-08-22 15:04] copejon commented on #335
Another thing that's interesting: this _doesn't_ seem to occur on the `.qcow2.tar.xz` test.

[2018-08-22 15:06] davidvossel commented on #338
@mhenriks I was talking about this https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html

It's a single http POST request. The curl command would look something like this.
[code]

There's also the option of using a PUT request to upload the file in a single tcp stream.

[code]

I see, you're talking about what happens when you run the aws cli tool to upload a large file using which uses multiple

[2018-08-22 15:39] copejon commented on #359
@jeffvance Do `[SW-DEP]` and `[HW-DEP]` have any overlap with tags other than `[CLONER]`?

Some have made the point that we don't want parallel tests (citing encapsulation and debugging concerns) so `[SERIAL]` may be globally applicable for a long time.

@nellyc I've been curious about how kubevirt defines e2e.  Running tests that execute start to finish work flows in a cluster seems more end to e

[2018-08-22 15:47] copejon commented on #359
@awels

[rfe_id: xxx, crit: (low/med/high), level: component, component: importer, type: (positive/negative)]

That could become pretty unwieldily as code and code coverage scales.  Is there another way we can enable polarion integration here?

[2018-08-22 15:54] awels commented on #359
We have a [gingko report](https://github.com/kubevirt/qe-tools) but it is missing a few key fields that polarion requires. So we are brain storming ways of getting those fields into the reporter struct from the tests. The reporter has access to the strings in the Describe/It/Context so I was suggesting that as one way of passing the fields to the reporter.

I haven't looked too closely at what a g

[2018-08-22 15:56] jeffvance commented on #359
I  think I understand @nellyc 's concerns that if a `Describe` string changes, and she keys off of the original string then polarian will have essentially duplicate tests: 1) the original and 2) a duplicate test where the only difference is the name of the test. Is there a simpler

[2018-08-22 17:09] copejon commented on #335
@jeffvance @aglitke
To give us a common play space to reproduce this bug, I'm going to open a new upstream branch called something like `debug-issue-335` so we can mess with logging, tests, and CI configs in isolation.

[2018-08-22 17:12] copejon opened #362 "Revert PR 361 (disable .tar.xz testing) once Issue #335 is resolved"
This is a reminder to reenable the affected test in #361 once issue #335 has been resolved.

[2018-08-22 17:16] copejon commented on #335
Branch up: https://github.com/kubevirt/containerized-data-importer/tree/debug-issue-335
See CI: https://travis-ci.org/kubevirt/containerized-data-importer/branches

[2018-08-24 00:51] jeffvance commented on #359
@awels ok, I don't know about polarian's use of these fields. I guess a point I was trying to make above is, imo, we should not sway cdi testing so far toward polarian that it causes test tagging to be unintuitive and/or high maintenance.

[2018-08-24 13:57] #295 closed

[2018-08-27 20:17] awels opened #374 "Cloner container creation has hard coded script path"
The clone controller has a hard coded script path for calling the script when the clone source/target container is instantiated.

In release v1.1.1 its hard coded to /tmp/script.sh
In master its hard coded to /tmp/cloner_startup.sh

We should use the ENTRYPOINT for the container to specify the script path instead of hard coding it in the controller.

[2018-08-27 20:18] aglitke commented on #374
In addition, the script should be installed in /usr/bin, not /tmp

[2018-08-28 12:41] nellyc commented on #374
fixed

[2018-08-28 12:41] #374 closed

[2018-08-29 01:30] jeffvance opened #382 "cloner functional test fails"
On latest master:
[code]
_framework.go_  [L148](https://github.com/kubevirt/containerized-data-importer/blob/master/tests/framework/framework.go#L148)

@awels can you ptal?

[2018-08-29 04:39] jeffvance commented on #382
I believe this is my error. Will check further...

[2018-08-29 04:39] #382 closed

[2018-08-29 16:30] screeley44 opened #385 "Update hack/README.md to add steps for non make cluster-up environments"
add some basic steps needed to setup a local-up-cluster.sh environment and all the components that need to be running to be able to successfully run functional tests

[2018-08-29 20:07] allsupportnumber opened #387 "2FA (Two- Factor Authentication) Failed on Binance, What should I do?"
In order to make any activity from your [**Binance** ](http://allsupportnumber.com/binance-customer-service-8883023444/)account, you are required to set up 2FA Google Authy. Every time you sign in you will be reminded to enable 2FA & you should set up Google authentication for security purpose. If anybody trying to log in your account then [Binance ](http://allsupportnumber.com/binance-customer-se

[2018-08-29 23:44] jeffvance opened #389 "s3 object endpoints only work with AWS"
Now that we're creating full lifecycle functional tests we need to automate the testing of s3. `s3` is an amazon protocol and is not supported by minio (our object store client). Instead, minio provides object store over http (as does amazon). As far as we know, we cannot test object store endpoints using the s3 protocol unless the file lives on aws.

Before formal functional tests, we manually te

[2018-08-30 00:52] jeffvance commented on #389
@copejon  @davidvossel  @aglitke  @nellyc

[2018-08-30 02:07] copejon commented on #389
3...? - Drop the existing endpoint annotation and replace it with 2 distinct ones (file and object).

Minio clients can process both s3:// and http://, which is great.  Where this has thrown a wrench into things is that we can't distinguish between an object store and a remote file by the URL alone when using http.  The earliest CDI design favored a simple api over this differentiation.  This led

[2018-08-30 02:52] jeffvance commented on #389
That's what I was trying to convey in choice 2 above but Jon stated it better What's different is that Jon implies (perhaps) that we'd create two new endpoint names with the distinguishing feature being file vs. object storage. Maybe something like `cdi.kubevirt.io/obj-storage.import.endpoint=` and `cdi.kubevirt.io/file-storage.import.endpoint=`

[2018-08-30 09:47] lukas-bednar opened #390 "PR #372 breaks ability of tests to generate junit and polarion output"
Hi,

one week ago I added ability to generate junit reports for tests: https://github.com/kubevirt/containerized-data-importer/pull/342

It worked fine, yesterday it started failing on missing `-junit-output` option ...

Using `git-bisect` I found following PR which has introduced this problem: https://github.com/kubevirt/containerized-data-importer/pull/372

This is what I expect to see:
[code]

[2018-08-30 09:47] lukas-bednar commented on #390
cc @nellyc

[2018-08-30 12:48] davidvossel commented on #389
why would we need to do this? In either case aren't we just downloading data from a url?

I thought that's what minio is designed to do is it not?  The minio server is capable of supporting s3 protocol v4.

[2018-08-30 13:28] copejon commented on #347
@davidvossel @aglitke  Sorry this fell through the cracks.  kubevirtCI doesn't run on macs or in virtual environments, which pretty well excludes any option for me to test changes I make.

I reached out to roman on this a while ago but couldn't find a solution - https://github.com/kubevirt/kubevirtci/issues/30

[2018-08-30 13:30] copejon commented on #347
#356 Should have addressed pushing the images to the cluster

I'll open a one line PR to fix the qemu install

[2018-08-30 13:57] copejon commented on #389
The issue is in how we communicate with the endpoint.  With an object store, auth requires that we use an s3 client.  So this issue has 2 components -

1 - how do we know which client to use (http / s3)
2 - fix the hardcoded `s3.amazonaws.com` endpoint for [`s3://` protocols](url).  this would allow us to hit object stores with http endpoints (which is every one of them -aws).  This is reliant on

[2018-08-30 14:47] awels commented on #390
PR #380 should fix the issue. Basically the order in which init() is called in go is a little odd, and it happened that the reporter init was called after flag.Parse, and the --junit-output flag was getting ignored.

[2018-08-30 16:31] copejon commented on #347
Reopening as PR #391 doesn't complete address this

[2018-08-30 16:49] copejon commented on #347
Not sure when it was added but `cluster/sync.sh` should be at least attempting to push the images.  Are you seeing any errors related to this still?

@davidvossel @awels @aglitke can you verify this is still the case?  I have no way of testing it on mac

[2018-08-30 17:53] davidvossel commented on #389
ah, okay I see what you're getting at now.

I'm not sure 'obj' vs 'file' is granular enough to express all the different endpoint combinations. Object storage isn't necessarily just s3.  This change would also be backwards incompatible unless we kept the old annotations as well.

What about this. We add a 'type' annotation that lets users explicitly defines how the client should import the data.

[2018-08-30 17:55] davidvossel commented on #347
It's all good now :+1:

[2018-08-30 17:55] #347 closed

[2018-08-30 18:06] jeffvance commented on #389
I like that suggestion @davidvossel . It solves this problem, is extensible, and provides backwards compatibility. Nice!

[2018-08-30 19:08] jeffvance commented on #338
@davidvossel @mhenriks @nellyc @aglitke has this issue been discussed enough to start the last remaining step above? If so I can create a pr placeholder to remove the code.

[2018-08-30 19:13] jeffvance commented on #390
pr 380 is large (20+ files) and brings in new infra to cdi. @awels can you pull out your framework init() changes into a separate pr so we can address this regression more quickly? Thanks.

[2018-08-30 19:15] jeffvance commented on #387
spam in github, great... :frowning_face:
Closed

[2018-08-30 19:15] #387 closed

[2018-08-30 19:34] aglitke commented on #338
@jeffvance I think you can create the placeholder PR to get this completed.  We can then decide later if/when the time is right to merge that.

[2018-08-30 21:35] copejon commented on #389
@davidvossel Sounds good to me!

[2018-08-30 22:13] jeffvance commented on #251
several recent prs address this.
closed

[2018-08-30 22:13] #251 closed

[2018-08-30 23:49] awels commented on #390
#380 is merged, that should fix this issue

[2018-08-30 23:50] awels opened #396 "CDI controller sometimes creates duplicate cloner pods."
The SDTCI discovered this. http://jenkins.ovirt.org/job/kubevirt_containerized-data-importer_standard-check-pr/52//artifact/check-patch.k8s-1.10.4-release.el7.x86_64/mock_logs/script/stdout_stderr.log

The relevant part of the log in case the run is recycled:
------------------------------
Cloner Test Suite A valid source and target given
  Should clone data within same name space
  /go/src/kubevi

[2018-08-31 00:56] aglitke commented on #288
@screeley44 can we close this?

[2018-08-31 08:32] rmohr opened #400 "It looks like the cdi controller is not eventually consistent"
It looks like the `DataVolume` will only try to import an image once and then just goes to a failed state. I think that such a behaviour is fine for workloads (Pod, VMI) but for infrastructure components it is very unusual (I actually can't remember to have seen such a behaviour).

The main issue with that is, that all other controllers which want to use data volumes will also have to manage retry

[2018-08-31 08:58] lukas-bednar commented on #390
@awels it works for me - closing issue ... thank you!

[2018-08-31 08:58] #390 closed

[2018-08-31 13:49] #272 closed

[2018-08-31 17:19] davidvossel commented on #400
i agree, we should be re-trying populating the pvc if the import or clone fails.

This retry logic should likely live within the import and clone controllers. The DataVolume controller would just depend on the lower level controllers to be eventually consistent.

[2018-08-31 20:17] aglitke commented on #400
I agree too. In the past we’ve refused to import to a pvc when it contains a /disk.img. Now we’d probably want to overwrite the file until there is a confirmation annotation on the PVC.   What I worry about is if someone edits those annotations then CDI might come in and overwrite data when it was not intended.

[2018-08-31 22:39] #385 closed

[2018-09-03 13:03] karmab commented on #288
the following would do the trick on a oc cluster up setup

[code]
note this would be for 3.10 , for 3.9, the command would be

[code]

[2018-09-04 09:36] shiywang opened #418 "CDI pvc/datavolume with empty url won't have error message in PVC/importer-pod"
Description of problem:

Version-Release number of selected component (if applicable):

How reproducible:

Create PVC with empty URL and importer-pod won't be created, But PVC is bound, so there's no error message for the user except cdi controller log

Steps to Reproduce:
1. oc create -f pvc.yml  (pvc with empty cdi.kubevirt.io/storage.import.endpoint: "" )

Actual results:
PVC bound successfully

[2018-09-04 13:27] zvikorn commented on #396
@awels Is this still relevant? I thought you told me that there was a bug which you fixed in the test...

[2018-09-04 16:13] aglitke opened #423 "tests: http server should be installed by the test suite, not 'make cluster-sync'"
In order to make it possible to run the functional tests against an existing cdi installation, the test dependencies (http server) should be installed as part of test setup, not by make cluster-sync.

[2018-09-04 16:26] jeffvance commented on #288
@karmab can you comment on the kubernetes equivalent, if any? Thanks!

[2018-09-04 17:02] copejon commented on #423
@aglitke Does the jenkin's have a docker registry to which the file host could be pushed?  If not, we'll have to start publishing the cdi-file-host image to docker hub

[2018-09-04 17:28] copejon commented on #423
The straightest route would be to build it into the `make test-functional` target, however I know d/s wants to compile the test individually and run the binary rather than `go test ./...` on the source code.  That means we'd have to bake the file host template into the functional test source.  I'm not 100% on board with that as it means 2 configs would have to be maintained.

[2018-09-04 18:28] davidvossel commented on #400
one safeguard here is that if we leave the completed pod around (which we do right now), then the import would fast succeed if someone cleared the annotations related to pod completion. Basically the old completed pod would be found and the annotation would get re-set.  A user would have to delete the completed pod from etcd and clear the annotation.

This assumes a completed pod won't get garbage

[2018-09-04 19:04] davidvossel commented on #400
@rmohr @aglitke I think the closest thing our import and clone pods can be compared to is a k8s ["job"](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#handling-pod-and-container-failures)

For example, with a k8s job we can define that a pod needs to execute to completion once. The job controller will ensure that the pod is retried until it eventually runs to com

[2018-09-04 19:18] jeffvance opened #424 "CDI should be installed with a single operator."
per openshift requirement...

[2018-09-04 20:44] j-griffith commented on #418
@shiywang could you share the pvc.yaml file you used?  I'd be interested in taking a look at reproducing this and see if I can fix it up.  Thanks!

[2018-09-04 20:46] j-griffith commented on #418
@shiywang Could you provide the pvc.yaml file you used?  I'd be happy to take a closer look at this.

[2018-09-05 11:34] rmohr commented on #400
I don't see it as much as a problem. If you for instance re-label a pod which is created by a ReplicaSet, the ReplicaSet will happily create a replacement. So in general, it is not unusual that controller react to such changes. It is also kind of  expected. Never the less, how about putting the annotation on the bound PV instead of the PVC? Users normally don't have access to it.

[2018-09-05 12:07] awels commented on #396
@zvikorn Yes its still relevant, here is another log but this time the log is at max logging level.

I0905 11:55:10.609325       1 controller.go:75] init: complete: cdi controller will create importer using image "registry:5000/cdi-importer:latest"
W0905 11:55:10.611748       1 client_config.go:533] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.

[2018-09-05 12:08] shiywang commented on #418
@j-griffith hi, that's the reason I filed an issue here. I also expected pvc could be pending or sth, but it bound successfully. the pvc file I use is
[code]

[2018-09-05 17:29] awels commented on #418
@j-griffith So I am guessing you are using local-volume PVs which stay in pending until a pod attaches it. @shiywang is probably using different storage, which will bind the PVC to a PV without being attached to a pod (maybe hostPath, or gluster based storage).

So from my perspective the controller is doing the right thing, it sees the endpoint is empty and thus there is no point in creating an i

[2018-09-05 17:43] awels commented on #423
So we actually had a discussion about this, and the problem basically comes down to, do we want to publish the containers needed for the functional tests, in this particular case that is the http server for the tests. We made the assumption that if you are running the functional tests you have the source code and thus you can build and install the http server for the tests.

Once we start publishi

[2018-09-05 17:50] copejon commented on #423
So perhaps we need to also build the file host in `make build-functests` to guarantee it's available in the local registry

[2018-09-05 18:27] awels commented on #423
There is no guarantee there is a local registry for an existing cluster. The local registry is a concept associated with the kubevirtci environment.

[2018-09-05 18:37] awels commented on #400
We would have to put a finalizer or something on the PVC, when it gets unbound and the reclaim policy of the PV is Delete, we would want to remove the annotation from the PV, otherwise we would never be able to import into the PV again.

[2018-09-06 14:52] aglitke commented on #338
@mhenriks mentioned that he no longer needs this support to implement upload.  @jeffvance I think we can close this issue now.

[2018-09-06 15:18] jeffvance commented on #338
ack @aglitke Will do that today.

[2018-09-06 15:51] jeffvance opened #431 "Consider UX regarding the various authorization schemes"
I believe there are 3 separate auth schemes in CDI at the present. I am no expert in this area so others will need to chime in.
1. basic http auth
2. glance auth
3. uploader auth

cc. @aglitke @davidvossel @mhenriks

[2018-09-06 16:06] jeffvance commented on #400
I focus the discussion a bit I propose creating a separate issue around overwriting _disk.img_., and keep this issue focused on controller retries, recovery, etc. Is that agreeable?

[2018-09-06 16:53] awels commented on #396
So combing through the logs, this seems like it is the important part: I0905 11:58:28.071994 1 expectations.go:167] Controller cdi-e2e-tests-cloner-msfkg/target-pvc either never recorded expectations, or the ttl expired.
So basically the way I read this, we put in the expectation that both a source and target pod are created, but one of the two takes longer than the ttl, and the expectation is can

[2018-09-06 17:46] copejon commented on #423
@awels Okay, it doesn't sound like we have a choice then - we'll need to publish the image as a build artifact.

[2018-09-06 17:49] davidvossel commented on #396
i see what's going on. I can submit a patch shortly.

[2018-09-06 17:52] awels commented on #396
Is it the fact the expectations are being overwritten instead of incremented by the target pod?

[2018-09-06 17:55] davidvossel commented on #396
yep, exactly. we are overwriting the creation expectations instead of raising it for the target pod...

In the log we see

"setting expectation"
"setting expectation"
"lowering expectation"
"expectations satisfied"

when what we want to see is

"raising expectation"
"raising expectation"
"lowering expectation"
"lowering expectation"
"expectations satisfied"

We're doing two sets on the expectation

[2018-09-06 17:56] awels commented on #396
Okay, so I have a patch ready for that (I think), let me push it and I will add you to it.

[2018-09-06 18:00] davidvossel commented on #396
okay. I haven't tested it yet. But just from my observation, it should be this simple.

[code]

[2018-09-06 18:04] awels commented on #396
Interesting, does RaiseExpectations work without the key being in the map yet? I did it slightly more complicated where I did createOrRaiseExpectation which looks up the key and if it is there it does a raise if not it will create it.

[2018-09-06 18:13] davidvossel commented on #396
ugh... good point. My patch won't work. Add me as a reviewer when you get something ready :+1:

[2018-09-06 18:31] awels commented on #423
@aglitke Seeing the above comments do you think we should start publishing the http server as an artifact or do you think we should require existing clusters to prepare the cluster for the tests if they want to run them?

[2018-09-06 19:44] aglitke commented on #423
In this case I can't help but ask "What would kubevirt do? (wwkd)"  They have similar containers (particularly an iscsi demo container that the tests use.

[2018-09-06 19:54] aglitke commented on #285
@shiywang Is this still needed?

[2018-09-06 20:00] screeley44 opened #434 "left over docker volumes from cluster-up after running functional tests and running make cluster-down"
after running `make cluster-up` and `make cluster-down` volumes are left dangling in docker - these can add up on my local system, not sure how this impacts travis-ci/jenkins
[code]

[2018-09-06 21:19] davidvossel opened #437 "DataVolume Events"
As part of the DataVolume's process of preparing a PVC for consumption, we should be recording events into the DataVolume's event log.

There's already a recorder object available to write events to. At the moment it just indicates when the DataVolume has been synced
[code]

It would also be useful to record even entries when the PVC creation takes place, as import/cloning is in progress, when the

[2018-09-06 21:23] davidvossel opened #438 "Add travis check to verify autogen code changes"
When changes to the CDI api take place, we must run ```hack/update-codegen.sh``` to regenerate the client code.  Travis should be verifying that we don't make changes to the api without running ```hack/update-codegen.sh``` and committing the results.

Kubevirt's ```make generate``` is a good reference for the kind of behavior we're looking for here. Look at kubevirt's travis file and how it verifi

[2018-09-06 21:28] davidvossel opened #439 "API validation"
CDI needs to validate both UploadToken and DataVolume objects are valid as they are posted to the cluster. There are two parts to this.

1. Use a CRD validation schema
Look at KubeVirt's tools/crd-generator/crd-generator.go code. That program generates a CRD along with the API's openapiv3 schema.

2. Create a Validation Webhook.
Validation webhooks allow us to catch complex API issues at creation

[2018-09-06 22:00] davidvossel opened #440 "API reference"
KubeVirt autogenerates swagger documentation for their API and hosts that reference here. https://kubevirt.io/api-reference/v0.8.0/definitions.html

CDI should consider doing something similar for DataVolume

related #192

[2018-09-06 22:02] davidvossel opened #441 "Add secret ref to DataVolume HTTP source"
The DataVolume S3 source has a secret reference that is used to store the aws credentials. The HTTP source needs the ability to reference a secret as well

related #192

[2018-09-07 05:14] jeffvance commented on #338
@copejon @aglitke many of the importer unit tests use local (file://) endpoints. Will the new [file server](https://github.com/kubevirt/containerized-data-importer/pull/376) be a replacement for these local endpoints?

[2018-09-07 07:29] zvikorn commented on #235
PR - https://github.com/kubevirt/containerized-data-importer/pull/425

[2018-09-07 14:10] mhenriks opened #446 "Add option to disable ssl verification when importing"
I haven't tested this, but it appears that an import would fail on an https:// endpoint using a self-signed cert or any cert signed by any CA unknown to the importer Pod.  Should we add an option to allow for "insecure" https downloads?  If so, we have to make sure to properly configure the Go http client as well as qemu-img for when we do streaming download/conversions.

[2018-09-07 14:21] mhenriks opened #447 "Add support for authenticated http/https download/conversion to raw with qemu-img"
Currently, we don't allow for qemu-img to do http/https authentication for download/conversion or validation.  Which means that there may be cases in which we unnecessarily download a qcow file locally.

[2018-09-07 14:44] mhenriks commented on #446
Actually tested with self-signed cert:

I0907 14:41:46.949808       1 importer.go:37] begin import process
I0907 14:41:46.950195       1 dataStream.go:221] copying "https://10.104.188.88/tinyCore.qcow2" to "/data/disk.img"...
I0907 14:41:46.950210       1 dataStream.go:102] IMPORTER_ACCESS_KEY_ID and/or IMPORTER_SECRET_KEY are empty
I0907 14:41:46.950222       1 dataStream.go:269] create the initi

[2018-09-07 15:27] awels commented on #396
@aglitke Yes, you can close this now I think.

[2018-09-07 19:16] #221 closed

[2018-09-07 21:00] #254 closed

[2018-09-10 15:20] #396 closed

[2018-09-10 15:23] rmohr opened #451 "testing prow"
/kind bug

[2018-09-10 15:23] rmohr commented on #451
@awels seems to work.

[2018-09-10 15:27] awels commented on #451
I was expecting it to use the ISSUE template just like in kubevirt, unless I forgot to configure something.

[2018-09-10 15:35] awels commented on #451
Nevermind, looks like its working, you just removed all the contents of the template.

[2018-09-10 15:36] awels commented on #451
/size xl

[2018-09-10 15:36] awels commented on #451
/kind enhancement

[2018-09-10 15:38] awels commented on #451
/size XL

[2018-09-10 15:39] #451 closed

[2018-09-10 15:44] rmohr commented on #451
@awels yes removed the content.

[2018-09-10 17:11] #434 closed

[2018-09-10 21:11] xsgordon commented on #288
For completeness in minishift land looks like this would be:

    setfacl -m user:107:rwx /var/lib/minishift/base/openshift.local.pv/pv0100

[2018-09-10 21:13] xsgordon commented on #288
Actually I lie, while that would be the correct path looks like I'm hitting a different issue.

[2018-09-10 21:30] xsgordon opened #452 "Could not open '/var/run/kubevirt-private/vmi-disks/pvcvolume/disk.img': Permission denied'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

1. Imported an image using this PVC definition: https://github.com/xsgordon/kubevirt-minishift-demo/blob/master/cirros-pvc.yaml
2. Created a virtual machine using this PVC definition: https://github.com/xsgordon/kubevirt-minishift-demo/blob/master/cirros-pvc-vm.yaml
3. Received these errors in `kubectl describe vmi cirro

[2018-09-12 13:43] davidvossel opened #453 "cdi-controller leader election"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Multiple cdi-controllers deployed at the same time can cause consistency issues. This could happen during the process of performing an update or in the event of certain types of node failures.

Leader election allows us safely run multiple cdi-controllers in parallel. Only one of the controllers will obtain a loc

[2018-09-12 13:50] davidvossel commented on #453
@aglitke This is pretty important. Updates to the cdi infrastructure could result in some unexpected behavior if two cdi-controllers happen to briefly run at the same time (old one while it is shutting down, new one when it is coming up). There's also always the chance that the cluster enters into split brain. Leader election should be able to guarantee consistency there as well.

[2018-09-14 13:36] awels opened #455 "DataVolume clone source doesn't set data volume phase properly."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a working source PVC with some data in it.
I create a DV with source for instance like this:
[code]
It starts to clone the source PVC into my new DV and the cloning successfully completes. However it never updates the status of the DV to be Successful.
**What you expected to happen**:
The phase to be Successful ins

[2018-09-14 13:39] awels commented on #455
The culprit appears to exist in:
func (c *DataVolumeController) updateDataVolumeStatus(dataVolume *cdiv1.DataVolume, pvc *corev1.PersistentVolumeClaim) error {

In that function we check for the import annotation, but never check for the clone annotation, and thus nothing gets updated.

[2018-09-17 06:33] jeffvance commented on #453
so does the deployment controller not provide the guarantee of one and only one cdi controller?

[2018-09-17 14:55] davidvossel commented on #453
The deployment controller does not provide a strong enough guarantee. It will try to keep only a single controller pod running, but there are scenarios where two can overlap with one another.

It's best that we default to a multi controller pod scenario and make that the normal mode of operation. This is how the k8s controllers now work and what we've adopted in kubevirt as well. Leader election f

[2018-09-18 08:10] qwang1 commented on #452
Hi @xsgordon,

I followed your [demo repo](https://github.com/xsgordon/kubevirt-minishift-demo/) to create PVC, VM and start VM, I can't reproduce your problem. Here is my result.
[code]

[2018-09-19 13:05] #441 closed

[2018-09-20 10:17] shiywang opened #461 "virDBusGetSystemBus:109 : internal error: Unable to get DBus system bus connection: Failed to connect to socket /run/dbus/system_bus_socket: No such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
oc create -f
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl get deployments cdi-deployment -o yaml`):
docker.io/kubevirt/virt-launcher:v0.8.0
Server https://10.8.247.180:8443
openshift v3.10

[2018-09-20 11:36] awels commented on #461
Looking at the error, it appears to be a kubevirt issue with accessing some network stuff (they have been making a lot of changes in that lately). Does the same happen when you create VM that doesn't use data volumes?

[2018-09-20 12:26] awels commented on #418
@aglitke Based on the above, should we close this?

[2018-09-21 11:51] shiywang opened #462 "no needed tags?"
when I execute
[code]

could someone help to delete that if that is sth we don't need?

[2018-09-21 11:52] shiywang commented on #462
@copejon @awels @aglitke @jeffvance

[2018-09-21 13:09] mhenriks opened #463 "Pod garbage collection"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
Currently import/clone/upload pods are not deleted by their controllers after they reach Completed or Error state.  They will get deleted if the corresponding PVC is deleted.  Which may not happen.  They may also get garbage collected by Kubernetes but that may take awhile.

**What you expected to happen**:

My co

[2018-09-21 13:31] mhenriks opened #464 "Block conflicting operations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:

Shouldn't be able to import and upload to the same PVC at the same time.  Also shouldn't be able to import/upload to a clone target.  Probably clone source as well.

**What you expected to happen**:

Good question!  We can't keep users from adding annotations to PVCs.  Maybe the controllers can remove the new co

[2018-09-21 13:46] zvikorn commented on #463
I will have to disagree (but this is my opinion only).
For me it’s helpful to know what happened in the cluster when I check it after awhile.
With the different names of the PVC’s it’s easier to figure out everything from the pod names.

Sent from my iPhone

[2018-09-24 13:28] mhenriks opened #467 "Upload content validataion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Users should be able to specify the hash of the file they are uploading.  If the data we receive doesn't hatch the hash, an error should be returned.  S3 does this by adding an optional "Content-MD5" header.  We should do something similar.

**What you expected to happen**:

**How to reproduce it (as minimally an

[2018-09-25 14:48] xsgordon commented on #452
Tried again with Still hitting this on v0.9.0-alpha.0 and v1.2.0-alpha.2. @qwang1 that error actually would be occurring before where I am hitting issues.

Did you see any earlier errors in the script output? The insufficient devices `devices.kubevirt.io/kvm` and `devices.kubevirt.io/tun` issue is what the workarounds script is meant to deal with but it can fail if things aren't where it expects t

[2018-09-25 21:24] mhenriks opened #469 "Release pages should include links to new docker containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Upload brought along with it three new containers (cdi-apiserver, cdi-uploaproxy, cdi-uploadserver) and links to them should be included with the rest of the containers on release pages.  See here for example:  https://github.com/kubevirt/containerized-data-importer/releases/tag/v1.2.0-alpha.2

**What you expected to hap

[2018-09-28 13:35] awels commented on #55
Resolved by PR#269

[2018-09-28 13:35] #55 closed

[2018-10-01 22:38] #338 closed

[2018-10-03 18:27] xsgordon commented on #452
OK so the issue is basically as alluded to in my original comment. On Minishift and oc cluster up the local filesystem permissions for the PVs are `root:root` with read-only access to everyone else. QEMU running within the container wants (needs) write access.

To facilitate this on minishift:
[code]

Talking to @karmab he, like I, only hit this when using local storage. The question I have is whe

[2018-10-09 13:49] gites opened #482 "Add option to resize disk.img to actual DataVolume size"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement
There should be an option allowing to resize `disk.img` to actual DataVolume size created for that image file. This would be beneficial in a situation when one wants to use the same VM image for different services/environments with different storage requirements (Ex.: service A need 50GB, service B 75GB, VMs on dev need 25GB, on pro

[2018-10-09 15:29] j-griffith opened #484 "Revisit design of our Controllers to align with our growth"
**Design Discussion**:

As CDI grows there are some possibilities that we should consider for redesigning our controllers, to make them easier to maintain, scale and reason about.  I started this conversation [here](https://github.com/kubevirt/containerized-data-importer/pull/478#issuecomment-428219842), and think we have some concensus to consider/discuss the second option:

[2018-10-12 07:50] qwang1 commented on #452
@xsgordon Hi,

I took a long vacation, sorry for the late responding.
I ran into the same error in another test, just for your reference. https://bugzilla.redhat.com/show_bug.cgi?id=1637082

[2018-10-15 09:27] qwang1 opened #491 "Readiness probe failed : cat: /tmp/healthy: No such file or directory" when using datavolume to create a VM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Create a VM following https://github.com/kubevirt/containerized-data-importer/blob/master/doc/datavolumes.md#example-vm-using-dv and start it, then the virt-launcher pod is running, but the readiness probe failed. "Readiness probe failed: cat: /tmp/healthy: No such file or directory"

**What you expected to happen**:
A readiness pro

[2018-10-15 09:43] #491 closed

[2018-10-15 09:48] qwang1 commented on #491
Move it to bugzilla.

[2018-10-16 03:39] j-griffith commented on #482
I'm not sure I understand the idea here.  If I need a 50G PVC I should request that, if I need a 100G PVC then I should request that.  IMO I would expect a user to have an understanding of what they're doing and size requirements for their image.  In other words I would expect them to calculate things correctly.  Sure, I may have different environments that I want different sized PVCs backing the

[2018-10-16 08:19] gites commented on #482
This is not about PVC size, but rather on the disk size that running VM will see. If you request 50G PVC and you put on the PVC official Ubuntu or Fedora cloud image and then login to the VM running from that image you will have only ~4G available. If you will request 100G PVC, the VM will still have only ~4G available.

To fix that, the size of the downloaded image needs to be adjusted ( `qemu-im

[2018-10-16 13:29] j-griffith commented on #482
@gites thanks for the explanation.  I'll comment in the PR, thanks!

[2018-10-17 15:09] zvikorn opened #494 "Import pvc 'cdi.kubevirt.io/storage.pod.phase' annotation value is wrong when import fails"
BUG REPORT

kind bug

**What happened**:
VM disk image import fails and 'cdi.kubevirt.io/storage.pod.phase' annotation in PVC has the value of 'Runing'

**What you expected to happen**:
The annotation should indicate importing failed. I think this happnes as a result of the new retryOnFailure mechanism that was introduced lately, but I'm not sure.
The reason is that kubernetes consider the pod as

[2018-10-17 15:09] zvikorn commented on #494
@j-griffith @aglitke

[2018-10-17 17:52] #437 closed

[2018-10-18 07:15] rmohr commented on #400
Let me reopen the issue since as far as I understand #481, it only adds parts of the requirements.

[2018-10-18 09:38] zvikorn commented on #494
After further investigation I figured out what's happening.
As I said above, while pod retires to run (with intervals), the pod status most of the time is CrashLoopBackOff and probably changes to running/error for a very short time before it fails again, since the url is wrong.
The pod phase however is running since the pod is considered like this. BUT, the importer container is not ready (ready:f

[2018-10-18 14:52] zvikorn commented on #494
PR #495
https://github.com/kubevirt/containerized-data-importer/pull/495

[2018-10-20 15:02] j-griffith commented on #400
@rmohr

Correct, that was a partial; still need to deal with clone pods and it doesn't attempt to do fencing to deal with node failures.

[2018-10-22 12:49] #494 closed

[2018-10-22 18:31] dcritch opened #497 "Add ability to create empty disk images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
I've been working with a combination of CNV, glusterfs and PXE. I've been creating VMs to PXE boot from a Satellite server to be provisioned. I've been using CDI to import a blank disk image from a URL.

**What you expected to happen**:
Would it be possible for CDI to have an option to create empty/blank disks rat

[2018-10-22 18:50] zvikorn commented on #497
yes. I have started working on this today.

[2018-10-22 20:40] dcritch commented on #497
Awesome! Looking forward to the feature.

[2018-10-24 02:35] j-griffith commented on #484
I vote for the second example (nested with a base controller).   Maybe get consensus and put it on the wish-list?

[2018-10-25 10:19] zvikorn opened #501 "Add structure to hold all CDI importer environment variables"
**Is this a BUG REPORT or FEATURE REQUEST?**:

As we add more functionality to the CDI importer, we need to use more environment variables when we create the importer pod. In order to avoid passing more and more parameters that represent these  environment variables to the methods that are responsible for the pod creation, a new struct that define these parameters is created to be passed as argume

[2018-10-25 12:10] zvikorn commented on #497
Please do NOT merge until #502 is merged. This PR will have to be rebased.

[2018-10-25 14:10] #501 closed

[2018-10-25 14:22] mhenriks commented on #439
@igoihman @aglitke @davidvossel UploadTokenRequest is not a CRD, so we can't use webhooks.  The cdi-apiserver is (I think) doing all necessary validation now.

[2018-10-25 17:30] zvikorn opened #504 "change the import controller not to have global parameter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
having global parameter is not safe as we run in a multi-threaded environment.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl get deployments cdi-deployment -o yaml`):
- Kubernetes version (use `ku

[2018-10-28 12:53] zvikorn opened #506 "Removing unnecessary code and update Const UPLOAD name"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

1) Changed const 'UPLOAD' to 'Upload'
pkg/controller/datavolume-controller.go
pkg/apis/datavolumecontroller/v1alpha1/types.go

2) removed 'target: {}' field in manifest/example/upload-datavolume.yaml

3) Removed uncalled methods and unused methods arguments
pkg/controller/util_test.go

4) Removed unused const
tests/import_test.go

[2018-11-01 11:44] fabiand commented on #359
Also speaking for the kubevirt side - I do understand that there is need for downstream distributions to classify and categorize tests.

I'd be fine with this -as I hope that kubevirt and friends will benefit from interest of downstreams.
My request would be that any metadata would contain a vendor or ownership information, ii.e. alongside what @nellyc wrote:

[code]

We'd also need to decide how

[2018-11-01 11:53] fabiand commented on #359
Or a better identifier which also allows a contact:
[code]

[2018-11-01 14:16] #506 closed

[2018-11-02 15:55] jtudelag opened #514 "gzip uncompression error: "could not process image header unable to construct readers""
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

Not sure if a bug or expected behaviour.

**What happened**:
Playing with CDI, trying to uncompress a gzip file in a volume, actually using the CDI release artifact,
which is a tar.gz. https://github.com/kubevirt/containerized-data-importer/archive/v1.3.0.tar.gz

I1102 15:47:14.047008       1 importer.go:32] Starting importer
I1102 15:47:1

[2018-11-02 16:00] jtudelag commented on #514
I have a use case where I need to populate volumes with data. This data might live in s3 buckets easily, so CDI seems to fit perfectly, but I would need CDI to uncompress the data in the volume.

Now Im using this approach: https://medium.com/@jmarhee/using-initcontainers-to-pre-populate-volume-data-in-kubernetes-99f628cd4519

But I would like to do it with CDI, if thats possible and this is a val

[2018-11-02 16:41] awels commented on #514
@jtudelag keep an eye on #498 which will implement exactly what you are looking for. The current unpacking is only for when you have a VM disk image in a tar file.

[2018-11-02 19:13] jtudelag commented on #514
thanks @awels, I will! This is awesome ;). Should I keep this open then? Or should I close it?

[2018-11-02 20:08] awels commented on #514
@jtudelag Keep it open, I will associate this with the PR, once it gets merged it should close automatically.

[2018-11-04 11:04] zvikorn commented on #114
We check today the image format and backing file in CDI before converting to raw. Is this Issue still relevant?

[2018-11-06 12:31] zvikorn opened #515 "Wrong condition when limiting the address space before running qemu-img"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In pkg/systme/prlimit.go:ExecWithLimits() we check by mistake the if the CPUTimeLimit variable value is greater than '0' before setting the address space limit. Instead we should check if the AddressSpace variable value is greather than '0'.

**What you expected to happen**:

**How to reproduce it (as minimally and precise

[2018-11-06 13:59] #515 closed

[2018-11-12 16:38] #439 closed

[2018-11-14 23:44] j-griffith opened #523 "DataVolumes shouldn't be deleted before all of their sub references are deleted"
/kind bug

**What happened**:
If a user creates a DataVolume then deletes that DataVolume it may or may not delete all of the underlying resources.  In the "normal" case where everything works as expected, the deletion of the DV will trigger the deletion of the PVC and the cleanup of any importer POD that's still  on the cluster.

In the case of a POD going through retries however, the DataVolume

[2018-11-15 18:05] j-griffith opened #525 "Referenced POD object not deleted if failing / in retry-loop"
/kind bug

**What happened**:
When you delete a DataVolume and a POD is in a retry/crash loop, the PVC goes to Terminating and is stuck there forever as the POD is never deleted and just continues retrying forever.

You CAN address this by issuing a kubectl delete against the POD, on the next restart interval the update will be detected and the POD finally destroyed, leading to deletion of the PVC

[2018-11-19 20:37] #525 closed

[2018-11-20 15:12] aglitke opened #531 "extension-apiserver-authentication ConfigMap namespace is hard-coded"
/kind bug

**What happened**:
When CDI is deployed in a namespace other than kube-system, the apiserver still looks for the extension-apiserver-authentication ConfigMap in the kube-system namespace but the RBAC permissions will not allow access to the kube-system namespace.

**What you expected to happen**:
We should expect the ConfigMap to reside in the same namespace as the apiserver.

**How to

[2018-11-20 21:47] #482 closed

[2018-11-21 21:54] aglitke opened #534 "Host-assisted cloning runs after PVC is already cloned"
/kind bug

**What happened**:
Host-assisted cloning runs on a PVC which was already cloned by the gluster subvol provisioner.

**What you expected to happen**:
Host-assisted cloning should not run on PVCs which already carry the CloneOf annotation.

**How to reproduce it (as minimally and precisely as possible)**:

- Begin with a development environment using ```make cluster-up cluster-sync```
- C

[2018-11-26 16:36] mhenriks commented on #531
@aglitke the extension-apiserver-authentication configmap is created by the kubernetes apiserver, not the cdi-apiserver.  So, the fix is to give cdi-apiserver permission to the configmap in kube-system

[2018-11-26 19:13] aglitke commented on #423
Closing this since the steps for running functional tests against an external cluster is now documented in https://github.com/kubevirt/containerized-data-importer/blob/master/hack/README.md#getting-started-for-developers

[2018-11-26 19:13] #423 closed

[2018-11-26 19:15] #418 closed

[2018-11-26 20:51] #531 closed

[2018-11-27 21:04] #497 closed

[2018-11-28 16:43] zvikorn commented on #534
Fixed in https://github.com/kubevirt/containerized-data-importer/pull/545

[2018-11-29 18:19] zvikorn opened #548 "Cannot clone disk image with cloning PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Cannot clone disk image by deploying cloning PVC. When deploying cloning PVC (i.e - manifest/examples/target-pvc.yaml), seems like the CPU is very busy, cloning pods remain in Running state, and it's very hard to do anything else on the machine. Machine barely responding. When you get a chance to run kubectl commands, yo

[2018-11-29 18:35] awels commented on #548
Just tried this locally and it cloned fine on master.

[2018-11-30 12:54] #534 closed

[2018-12-04 11:43] #114 closed

[2018-12-04 12:42] #133 closed

[2018-12-04 12:43] #97 closed

[2018-12-04 12:43] #173 closed

[2018-12-04 17:01] awels commented on #469
The actual release since 1.2 and up do have the links to the new containers. I also recently merged a PR that will make sure any new releases have them automatically included.

[2018-12-04 17:01] #469 closed

[2018-12-04 17:04] awels opened #558 "Container import example on how to create the container image."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
There is no good example on how to prepare a container image for importing with CDI.

**What you expected to happen**:
Some documentation on how to prepare a container image that you can push to a registry so you can import it.
**How to reproduce it (as minimally and precisely as possible)**:

[2018-12-04 17:05] awels commented on #558
Hey can you guys write up an example on how to prepare a container image for use with the new import functionality? @danielerez @rollandf

[2018-12-05 13:02] awels commented on #463
Fixed by #481

[2018-12-05 13:02] #463 closed

[2018-12-05 13:11] awels commented on #452
So basically the problem is that the PVs created by hostPath based storage, as available in minishift/kube don't have the right permissions for CDI/kubevirt. Not sure what we as CDI can do about that, except write some documentation noting this fact. As CDI we assume the underlying storage is properly configured.

[2018-12-05 13:15] awels commented on #548
@zvikorn So this could be that your nodes don't have enough memory (or barely enough). #533 increases the node memory by default from 2G to 5G which should make it work much better.

[2018-12-06 14:19] awels opened #560 "Clone sometimes doesn't add k8s.io/CloneOf annotation to target PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Sometimes when cloning a PVC the cloneOf annotation does not get added to the target PVC. I believe the following sequence of events happens:
1. target PVC is created
2. Controller sees new PVC, and creates source/target pods. And puts Running annotation on target PVC.
3. The clone completes. And the target pod is cleaned

[2018-12-06 14:21] awels commented on #560
[code]

[2018-12-06 15:10] awels opened #561 "Create blank disk creates a 0 sized disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The blank disk is size 0 instead of the requested size.

**What you expected to happen**:
The disk is the size requested.

**How to reproduce it (as minimally and precisely as possible)**:
Add the proper annotation to create a blank disk

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl ge

[2018-12-06 15:11] #561 closed

[2018-12-08 15:39] #453 closed

[2018-12-09 14:08] zvikorn opened #565 "manifest/example/local-pv-allocation-claim.yaml fails on validation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
manifest/example/local-pv-allocation-claim.yaml fails on validation  -annotations tag is missing

**How to reproduce it (as minimally and precisely as possible)**:
Try to deploy manifest/example/local-pv-allocation-claim.yaml

[2018-12-09 19:34] #565 closed

[2018-12-17 13:07] zvikorn opened #571 "Add Blank Image source to Datavolume validation"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Missing webhook validation for blank raw image in datavolume object

[2018-12-17 13:18] zvikorn commented on #571
Fixed by https://github.com/kubevirt/containerized-data-importer/pull/572

[2018-12-17 14:07] zvikorn commented on #560
Fixed by https://github.com/kubevirt/containerized-data-importer/pull/573

[2018-12-17 14:12] zvikorn commented on #560
The pods were delete before the controller had a chance to update the PVC with the 'CloneOf' annotation since the 'defer' call to delete the pods, was called inside the 'if' clause, which caused the deletion of the pods at the end of the 'if' clause. Note: before the fix - even if we do not know exactly when the delete call will be executed, it can be executed immediately after the 'if' clause.

[2018-12-18 09:52] tripledes opened #574 "Creating a DataVolume using a PVC as source results in non-sparsed image on the destination PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

* Created a 1Gi golden fedora pvc, which imported Fedora cloud qcow2 image.
* Created a DataVolume, sized 1Gi, with source the PVC above, it failed with "no space left on device".
* Increased the DataVolume size to 8Gi (just to make sure) and it worked.

**What you expected to happen**:

When the qcow2 image was imported

[2018-12-19 11:57] #574 closed

[2018-12-19 17:36] rollandf commented on #558
Solved by #569

[2018-12-19 17:36] #558 closed

[2018-12-20 07:02] rollandf commented on #514
Solved by #498

[2018-12-20 07:02] #514 closed

[2018-12-23 08:35] igoihman opened #580 "dataStream_test CI failures"
/kind bug

CI is failing sporadically on the [master builds](https://travis-ci.org/kubevirt/containerized-data-importer/builds/471408637)

The failure occures on dataStream_test.go "Streaming Data Conversion".

Test output:

[code]

[code]

[code]

[2018-12-26 13:02] #571 closed

[2018-12-27 11:16] qwang1 opened #584 "Use manifests/example/registry-image-pvc.yaml got error: exec: "skopeo": executable file not found in $PATH"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug

**What happened**:
[code]

**What you expected to happen**:
Import from docker registry can be successful.

**How to reproduce it (as minimally and precisely as possible)**:
100%

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl get deployments cdi-deployment -o yaml`): v1.4.0
- Kubernetes version (use `kubectl ver

[2019-01-02 09:10] igoihman commented on #362
/remove-lifecycle rotte

[2019-01-02 09:10] igoihman commented on #362
/remove-lifecycle rotten

[2019-01-02 13:27] zvikorn opened #587 "hack/update-codegen.sh returns error"
/kind bug

**What happened**:
Running hack/update-codegen.sh after changing API (pkg/apis/datavolumecontroller/v1alpha1/types.go) returns the following error:
v1alpha1/types.go:19: running "swagger-doc": exec: "swagger-doc": executable file not found in $PATH
This means that we MUST run the update-codegn.sh from ./hack directory. This should be changed to be able to run it from any directory.
Howe

[2019-01-02 13:41] awels commented on #580
As @mhenriks mentioned somewhere, I believe the real problem is that in our unit tests we are testing qemu-img, and for some reason qemu-img sometimes doesn't like running in the travis environment. I think the proper solution is to stop testing qemu-img in our unit tests, and mock the results from the call instead.

[2019-01-02 13:49] awels commented on #239
Fixed by #512

[2019-01-02 13:49] #239 closed

[2019-01-03 09:22] annastopel commented on #584
@qwang1 Hi, cam you please provide the following info:
1. Commands for cluster setup (there is a difference between qe and dev setup)
Thank You

[2019-01-03 16:04] zvikorn commented on #587
This is not a bug as we changed the way of generating the files. We should run 'make generate' which will run the update-codegen.sh

[2019-01-03 16:04] #587 closed

[2019-01-03 18:14] awels commented on #560
Looks like there is still a race [here](https://jenkins.ovirt.org/job/kubevirt_containerized-data-importer_standard-check-pr/990//artifact/check-patch.k8s-1.11.0-release.el7.x86_64/mock_logs/script/stdout_stderr.log) The log shows the pods completed successfully, but the annotation never appears.

[2019-01-03 20:00] #580 closed

[2019-01-06 12:33] annastopel commented on #584
Root cause:
in http://pkgs.devel.redhat.com/cgit/containers/virt-cdi-importer/tree/Dockerfile?h=cnv-1.4-rhel-7
a Dockerfile is built for virt-cdi-importer. It does not install skopeo.

[2019-01-06 20:43] #268 closed

[2019-01-07 15:46] qwang1 commented on #584
Filed a bug https://bugzilla.redhat.com/show_bug.cgi?id=1664059 to track the issue.

[2019-01-11 21:38] aglitke commented on #359
@nellyc Can this issue be closed now?

[2019-01-13 08:51] nellyc commented on #359
@aglitke yes, finally we have the tests attributes on most tests \o/
we will continue to work to mark unmarked tests as well as new tests.
I am going to open a new ticket to support auto creation of test ids, so we will be able to automate the entire process

[2019-01-13 08:51] #359 closed

[2019-01-17 21:21] awels opened #613 "file/registry servers for ci do not properly start when in open shift and not in the kube-system namespace."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After moving the CI file/registry servers to the CDI namespace, the pods would no longer start using the openshift runner.

**What you expected to happen**:
The pods to properly start.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- CDI version (us

[2019-01-17 21:59] #230 closed

[2019-01-17 21:59] #217 closed

[2019-01-21 22:49] davidvossel opened #621 "Upload image container needs tcp readiness probe"
/kind bug

**What happened**:

There's a difference between a pod's phase being "Running" and the pod being marked as "Ready".  A running pod may or may not be ready. The ready condition is determined by the readiness probe.

When performing an image upload, we need virtctl to be able to wait until the pod is marked as "ready" by the service endpoint. Without this it's possible to attempt to uploa

[2019-01-21 22:50] davidvossel commented on #621
/cc @mhenriks

[2019-01-24 23:43] rwsu opened #626 "CDI v1.5.1 operator fails because it could not pull image from registry"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
This is what I see in the cdi-operator pod:
[code]

Is the registry incorrect?

**What you expected to happen**:

CDI operator should install correctly

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl get deploymen

[2019-01-25 00:01] mhenriks commented on #626
attn @awels the the v1.5.1 operator manifest is referencing the kubevirtci repo.

[2019-01-25 00:09] mhenriks commented on #621
@davidvossel I think this is a great idea and will definitely tighten things up.  Hopefully it helps with the CI failures.  But the recent failures that I've seen were because the `kubectl port-forward` was somehow broken or there were permission issues writing to the PVC.

[2019-01-28 13:16] awels commented on #626
@mhenriks yes you are right, since that is generated we need to figure out why it is generating the dev environment manifest for a release.

[2019-01-28 13:19] awels commented on #626
@rwsu I have fixed the file in the release, and should work now. Investigating the source of the issue.

[2019-01-28 14:35] qwang1 commented on #584
Since the skopeo tool is installed, close the issue. Thank you all.

[2019-01-28 14:35] #584 closed

[2019-01-29 12:50] awels opened #627 "Disallow creation of DV when PVC with same name already exists."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When trying to create a data volume with the same name as an existing PVC the creation of the data volume object succeeds, but the matching PVC fails because of a naming conflict.

**What you expected to happen**:
The creation of the DV to fail with an appropriate error message such as "Error when creating .... a PVC with

[2019-02-01 14:16] #335 closed

[2019-02-01 20:16] #424 closed

[2019-02-03 17:30] #431 closed

[2019-02-03 21:30] #285 closed

[2019-02-04 16:35] #446 closed

[2019-02-04 16:35] #447 closed

[2019-02-04 16:35] #438 closed

[2019-02-04 16:35] #440 closed

[2019-02-04 16:35] #389 closed

[2019-02-04 19:36] #235 closed

[2019-02-05 16:07] awels commented on #464
/remove-lifecycle rotten

[2019-02-05 18:38] davidvossel opened #636 "re-creating a datavolume hangs forever"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

1. post the dv manifest above
2. allow dv to move to succeeded
3. delete dv
4. waith for dv and pvc/pv to be removed
5. re-post dv

At this point once the dv is re-posted, it will hang indefinitely.

I see this log in the cdi controller which possibly indicates that an expectation has not been counted correctly.

[2019-02-06 14:00] mhenriks commented on #636
Looked into this a bit yesterday.  First, it doesn't hang forever.  The expectations time out after ~5 minutes.  But obv still a problem.  The issue is that kubectl does a foreground delete, which deletes the child objects first, in this case, the pvc.  But the datavolume code ends up recreating the pvc.  However, that newly created pvc gets deleted quickly (we get the callback and ignore it becau

[2019-02-06 14:19] dollierp opened #637 "Upload tests fail when a cluster doesn't have a node called "node01""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Ran the CDI test suite on a kubevirt cluster, providing a kubeconfig customized for it.

The upload tests fail because they try to connect to a node called "node01" (hardcoded in the test) whereas the tested cluster nodes have other hostnames.

**What you expected to happen**:

We need a way to modify the "node01

[2019-02-06 14:20] dollierp commented on #637
@mhenriks cc since you are the test author.

[2019-02-06 15:23] awels commented on #636
The DV would have a delete timestamp on it right, so we should not create the PVC if the DV has a delete timestmap.

[2019-02-06 15:33] mhenriks commented on #636
@awels, yes, that is part of the fix I tested locally.  Also have to handle datavolume deletes so that expectations get deleted.

[2019-02-06 15:35] awels commented on #636
@mhenriks Alright, mind taking this then?

[2019-02-07 09:27] #636 closed

[2019-02-07 16:02] davidvossel opened #642 "Pod import's pod status flaps between Running and Failed breaking retry logic"
/kind bug

**What happened**:

#495 introduced special logic that marks a pod as failed on the PVC annotation when the pod has not in fact failed.  Instead we're interpreting the Pod's phase as failed because a container failed, even though the pod's status is still Running.

We have 'restartPolicy: OnFailure' set on our import pods.  This means a container can fail, but will be retried. That's wh

[2019-02-07 16:33] davidvossel commented on #642
This is actually pretty bad now that I'm looking at it in more detail.

this code in import-controller.go ensures that the PVC's annotation nearly **always** transition to failed briefly when the import pod is created regardless if a failure is occurring or not.  Essentially we move to a "Failed" state immediately after posting the Pod while it is "waiting"

[code]

[2019-02-07 20:23] aglitke opened #643 "ISO error message when importing non ISO image"
When importing a xz compressed raw image that is not in ISO format I see the following error message in the pod log:

E0207 20:20:03.314322       1 dataStream.go:617] isoSize: Atoi error on endpoint "/Fedora-Cloud-Base-29-1.2.x86_64.raw.xz": strconv.Atoi: parsing "f5": invalid syntax

Since this is not an ISO image I would not expect to see such a message.

**Environment**:
- CDI version (use `kub

[2019-02-08 18:01] awels commented on #642
Looks like PR #644 fixes this?

[2019-02-08 19:08] mhenriks commented on #642
@awels I wouldn't say that #644 exactly fixes this.  Definitely fixes part of the problem.  But we will still go into `Failed` state when an import pod is in a failure/retry loop.  And I don't think @davidvossel wants that.  And I agree.  Failure should be a terminal condition.

Given that import pods are `RetryOnError` so the pod phase will never really be `Failed` and the KubeVirt controller del

[2019-02-08 19:09] mhenriks commented on #642
cc @aglitke @j-griffith

[2019-02-08 23:45] j-griffith commented on #642
I'm not sure what the best answer is here, the initial bug was that we "failed" and that for a K8s system that was unexpected or undesirable.  Personally, I'm perfectly fine with failing,  and in fact because this is actually more like an application (ie the infrastructure is provisioned) I think it's perfectly reasonable.

I don't like the retry n times approach so much, it just feels in between

[2019-02-09 15:52] j-griffith commented on #642
@mhenriks @davidvossel Setting aside the discussion about if/when to fail; one thing I was wondering about; why do we mess with the DV status so much at all?  Rather than feeding it updates like scheduling, importing etc; what if we just used a simple pending and succeeded (or ready) status.  I realize the transitions might be useful but the other thought is that rather than allowing things to go

[2019-02-11 18:04] j-griffith opened #649 "Can't delete PVC when importer pods are running/restarting"
/kind bug

**What happened**:
Related to issue #525 we have a similar situation when not using DataVolumes.  The user requests a PVC using the importer, if the Importer POD is in a retry loop and a user requests deletion of the PVC the PVC will be stuck in terminating until the user forcibly deletes the PODs that are retrying forever.

**What you expected to happen**:
This is what I expect, but it

[2019-02-12 16:04] j-griffith commented on #400
@davidvossel

For Clone operations I agree using jobs could be tricky to coordinate, however; for the simple import and upload jobs where we're dealing with a single POD it seems like a good fit IMO.  With the importer POD for example if we ensure the container executable to init the destination directory when it launches we wouldn't have to do things like delete/recreate PVCs either.

For clones

[2019-02-12 17:18] davidvossel commented on #642
previously the DV process was to follow the phase of the pod. that still works even with retry on failure. The problem is that code (which i in-lined in a previous comment) that tries to infer the pods phase based on the container's status.  Essentially, we're recording the import/clone pod's phase as something that it isn't. That's why we're having issues.

[2019-02-13 18:39] bharatnc opened #654 "not able to vendor kubevirt/containerized-data-importer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I was using ``dep`` as a Golang package management tool to vendor dependencies for using the ``kubevirt`` api to create VMI for my kubernetes controller. Initially had trouble vendoring ``kubevirt.io/kubevirt`` itself, but raised [this ticket](https://github.com/kubevirt/kubevirt/issues/2017) and found a resolution.

``kubevirt.io/

[2019-02-13 19:04] slintes commented on #654
let me clarify the issue a bit:
- `go get kubevirt.io/containerized-data-importer` works fine.
- but `dep ensure -add kubevirt.io/containerized-data-importer` doesn't, because dep requires a Go file at the project root.

[2019-02-13 19:07] bharatnc commented on #654
@slintes , thanks, that is correct, I correct myself and will update the issue.

[2019-02-17 12:30] #461 closed

[2019-02-18 04:16] bharatnc commented on #654
This is all working fine, so  I'm closing this issue. Hope that other dep users will benefit from this fix! Thanks again @slintes !

[2019-02-18 04:16] #654 closed

[2019-02-18 08:46] slintes commented on #654
I bet, thanks for raising this issue!

[2019-02-18 13:30] #462 closed

[2019-02-20 08:50] rmohr opened #666 "apiserver complains about missing openapi spec for upload.cdi.kubevirt.io"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Aggregated apiservers are queried by the apiserver for an openapi spec. The spec is that added to `/openapi/v2` in the apiserver.  If no spec is served recurring errors like this can be found in the apiserver logs:

[code]

We had the same issue in kubevirt. See https://github.com/kubevirt/kubevirt/pull/1930 and https://

[2019-02-20 13:07] awels commented on #666
@mhenriks can you take a look at this?

[2019-02-20 14:22] dollierp opened #667 "Add a `--version` flag to virt-cdi-* commands"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

When dealing with containers whose label don't match the version of CDI, it's a pain to determine which CDI version the container is using.

**What you expected to happen**:

It could be handful to provide a `--version` flag to virt-cdi-* commands to expose the version more easily. For instance:

    kubectl exec

[2019-02-21 09:30] #192 closed

[2019-02-21 14:30] #467 closed

[2019-02-21 16:01] j-griffith opened #668 "Functional tests currently failing on master"
**What happened**:
Currently attempting to run functional test suite a number of image conversion tests are failing consistently.

The output is:
https://hastebin.com/mepulajima.cpp

**What you expected to happen**:
Tests should pass

**How to reproduce it (as minimally and precisely as possible)**:
Check out current master, and run `make test-functional-ci`

**Anything else we need to know?**:

[2019-02-21 16:34] j-griffith commented on #668
And now tests are running clean again.  I'd like to understand what happened here, maybe an external dependency that I'm not aware of?

[2019-02-23 21:21] #649 closed

[2019-02-25 17:48] shayrybak opened #672 "Documentation for deployment using operator for version > 1.5.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:
Deployment documentation only shows examples of how to deploy using the controller. However on version > 1.5.0 deployment is done via the operator. trying to install using the controller failed due to namespace and rbac issues.
**What you expected to happen**:
Document need to be updated to have the information o

[2019-02-25 20:22] #627 closed

[2019-02-26 01:40] mhenriks opened #674 "Installing, removing, and reinstalling causes the controller to crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:

In controller log I see:

`
E0226 01:26:09.316306       1 config-controller.go:319] Error updating CDI Config: resource name may not be empty
F0226 01:26:09.316993       1 controller.go:220] Error running config controller: %+v Error creating CDI config: Error updating CDI Config: resource name may not be empty
goroutine

[2019-02-26 01:40] mhenriks commented on #674
attn @igoihman

[2019-02-26 09:23] igoihman commented on #674
Thanks @mhenriks

[2019-02-26 13:03] #637 closed

[2019-02-26 21:32] aglitke opened #678 "Registry imports disable TLS"
A flaw was identified in the Containerized Data Importer, a component used by Container Native Virtualization.  In Containerized Data Importer versions from 1.4.0 through 1.5.3,  the import from registry feature disabled TLS certificate verification when communicating with container registries.  An attacker could use this flaw to impersonate a trusted container registry.  All users should upgrade

[2019-02-26 21:33] aglitke commented on #678
Fixed by #661 and #662.

[2019-02-26 21:33] #678 closed

[2019-02-27 07:08] shiywang opened #679 "Glide update could not fetch "kubevirt.io/containerized-data-importer""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

when I'm trying to import some of the lib from cdi to kubevirt-ansible
like
[code]
it throws

[code]

But change to "github/kubevirt/containerized-data-importer"

it works.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- CD

[2019-02-28 19:42] #674 closed

[2019-03-01 08:22] csirac2 commented on #678
Apologies for the delay, this vulnerability has been assigned CVE-2019-3841

[2019-03-01 17:39] #621 closed

[2019-03-04 16:06] j-griffith opened #687 "glog is dead, move to klog"
The Kuberentes community has moved on from glog to their own implementation cleverly named (wait for it) "klog".

The problem was that glog wasn't actively maintained and had some shortcomings and was difficult to maintain and keep up to date for the K8s project.  So, we have klog which is under active development and is a drop in replacement for glog.  We should update our glog usage to klog so w

[2019-03-05 07:02] shiywang opened #691 "error while converting raw: Could not create file: Permission denied"
[cnv-qe-jenkins@cnv-executor-kbidarka ~]$ oc logs -f importer-generate-c98dz972jt-lkz2b
I0305 06:34:07.697824       1 importer.go:45] Starting importer
I0305 06:34:07.698074       1 importer.go:65] begin import process
I0305 06:34:07.699149       1 importer.go:91] begin import process
I0305 06:34:07.699168       1 dataStream.go:299] copying "https://download.cirros-cloud.net/0.4.0/cirros-0.4.0-x86

[2019-03-05 13:37] zvikorn commented on #548
/close

[2019-03-05 13:37] #548 closed

[2019-03-07 16:07] #687 closed

[2019-03-08 12:59] karmab opened #696 "cdi-deployment crashloops on k8s 1.13"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
cdi-deployment crashloops on k8s 1.13. other cdi pods are up

**What you expected to happen**:
dont crashloop

**How to reproduce it (as minimally and precisely as possible)**:
deploy latest cdi release (using operator manifest) on top of k8s 1.13

**Anything else we need to know?**:

logs from the pod

[code]

**Environm

[2019-03-08 13:03] awels commented on #696
Fixed by PR #688

[2019-03-08 13:05] #696 closed

[2019-03-08 20:14] awels opened #698 "Upload does not resize to PVC size"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After uploaded a fedora cloud image with a 4G virtual into a 5G PVC the resulting image size is not 5G
**What you expected to happen**:
The image virtual disk is 5G

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl get depl

[2019-03-10 11:15] zvikorn opened #701 "images with raw format imported from HTTP source should not use scratch space"
/kind bug

**What happened**:
Importing http://distro.ibiblio.org/tinycorelinux/9.x/x86/release/Core-current.iso
Code is using scratch space instead streaming directly to destination.

[2019-03-11 09:12] qwang1 opened #704 "[Doc] request-an-upload-token should be updated"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Since *containerized-data-importer/manifests/example/** have been updated and there is not an *upload-token.yaml* file anymore, this part [request-an-upload-token](https://github.com/kubevirt/containerized-data-importer/blob/master/doc/upload.md#request-an-upload-token) should be optimized.

[2019-03-12 08:41] annastopel opened #705 "performance degradation: Qcow2 image imported from registry is copied twice locally in dataStream"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
qcow2 image imported from registry is saved on scratch space and then is copied in dataStream.copy to another temp location and only then converted and stored in /data/disk.img
There is no need to copy the image locally the second time
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as

[2019-03-12 12:02] awels commented on #705
Actually no, that is not what happens. The following happens:
1. container is downloaded to scratch space.
2. Layers are extracted in scratch space.
3. disk image file is located in scratch space.
4. disk image file is either copied or converted to target space.
Read the code again, its all there.

[2019-03-12 12:36] annastopel commented on #705
Paragraph 4 is exactly the issue - in case it is a qcow2 file from https source it will be copied one more time from the place registry code put it to (scratch space) to the new temporary place in scratch and then copied to target.

The degradation is that the second copy inside scratch is unnecessary

Thank You

Paragraph 4 is exactly the issue - in case it is a qcow2 file from https source it wi

[2019-03-12 12:45] awels commented on #705
Can you point me to the code where this second copy happens, because I don't see it.

[2019-03-12 12:48] annastopel commented on #705
https://github.com/kubevirt/containerized-data-importer/blob/f9a1bf79582fafaddaf100c9294a89701905aa5a/pkg/importer/dataStream.go#L915

[2019-03-12 13:02] awels commented on #705
Yep, you are right, I was under the assumption tmpDest and the file pointed to by the reader where the same and thus nothing happened with the StreamDataToFile, but the top reader is pointing to /scratch/temp/something (wherever the layer is extracted) and tmpDest is pointing to /scratch/disk.img, so that is an unneeded copy.

[2019-03-12 14:33] mhenriks commented on #691
Yeah, this shows up in functional tests on occasion.  Unfortunately, it is not consistent and I am having trouble diagnosing.

[2019-03-12 14:35] mhenriks commented on #672
addressed in https://github.com/kubevirt/containerized-data-importer/pull/646

[2019-03-12 14:35] mhenriks commented on #672
/close

[2019-03-12 14:36] #672 closed

[2019-03-12 14:39] awels commented on #705
I am doing some extensive changes with the refactor, and I believe I will take care of this particular issue as well.

[2019-03-12 14:40] #698 closed

[2019-03-12 14:58] annastopel commented on #705
Cool, thanks

On Tue, Mar 12, 2019 at 4:44 PM Alexander Wels <notifications@github.com>
wrote:

[2019-03-14 20:49] rthallisey opened #709 "Add the CDI CustomResource to the controller schema when the CDi struct is invoked"
**FEATURE REQUEST**:
When trying to vendor in the CDI CustomResource, I get the error ```"error":"no kind is registered for the type v1alpha1.CDI in scheme```.  In order to avoid this error, I would have to add the object to the schema in my project.  It would be easier if the object was added in an init function so I'm ready to consume once it's vendored in.

Code would look similar to `kubevirt.

[2019-03-15 01:32] mhenriks commented on #709
When are you getting this error?  This seems like a pretty non standard thing to do.  The projects generated by the operator sdk don't do it.  Specifically wondering about the second line (adding the type to the default scheme for client go).

This is what we do in the CDI operator to add the CDI object to the scheme of the manager:

[code]

[2019-03-15 12:11] rthallisey commented on #709
This should actually be on kubevirt/kubevirt.  Had a conversation with an sdk developer and he said the same thing.  A lot of controllers are moving away from using an init function to register the scheme and towards using controller-runtime/manager.

More of a case for https://github.com/kubevirt/kubevirt/issues/1505.

[2019-03-15 12:11] #709 closed

[2019-03-16 19:43] #288 closed

[2019-03-19 19:37] djzager opened #715 "Make CDI Component Creation Vendorable"
/kind enhancement

@slintes did a great job in https://github.com/kubevirt/kubevirt/pull/2062 integrating KubeVirt into OLM. I suspect that similar work must be done for CDI to integrate with OLM.

**What you expect to happen**:

This issue is meant to request that whatever code is written for generating the necessary OLM manifests for integration with OLM be made vendorable for the sake of https:

[2019-03-19 19:38] djzager commented on #715
@rthallisey asked that I tag @mhenriks

[2019-03-19 20:15] mhenriks commented on #715
ack

[2019-03-19 20:15] mhenriks commented on #715
cc @annastopel

[2019-03-19 20:37] igoihman opened #716 "cdi_config flaky unit tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
`TestCreatesIngressDifferentService` is randomly failing on Travis.

[code]

**What you expected to happen**:
Test should be successful

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl get deployments cdi-deployment -o ya

[2019-03-20 08:14] annastopel commented on #715
ack

[2019-03-21 06:30] qwang1 opened #719 "[Doc] Invalid link on the document"
**Is this a BUG REPORT or FEATURE REQUEST?:**
/kind bug

**What happened:**

https://github.com/kubevirt/containerized-data-importer/blob/master/doc/datavolumes.md#pvc-source
**Get example** has invalid link

https://github.com/kubevirt/containerized-data-importer/blob/master/doc/datavolumes.md#example-vm-using-dv
**Get example** has invalid link

https://github.com/kubevirt/containerized-data-imp

[2019-03-21 08:16] zvikorn opened #720 "Imported QCOW2 image is not bootable"
/kind bug

**What happened**:
Imported https://download.cirros-cloud.net/0.3.5/cirros-0.3.5-x86_64-disk.img to my local storage (host). Image was validated and converted to raw.
scp-ed the disk.img from the host to my machine and tried to create VM via VirtualMachineManager app.
Disk is not bootable.

**What you expected to happen**:
VM is created and login prompt is presented

**How to reproduce

[2019-03-21 15:49] zvikorn commented on #720
Cannot reproduce

[2019-03-21 15:49] #720 closed

[2019-03-21 20:30] #667 closed

[2019-03-23 04:04] #484 closed

[2019-03-24 09:24] zvikorn opened #722 "Enhance Import to raw block PV Functional Tests"
/kind enhancement
Enhance Functional tests for this feature once it is merged.

[2019-03-26 14:36] mhenriks opened #726 "Scratch space storage not created on minishift"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Tried to use virtctl image-upload with release 1.7.0 and it failed.  Here's the controller log:

[code]

Here's the command I executed:

[code]

**What you expected to happen**:

The scratch PVC should be created successfully.  Do not raise an error if storageclass is '""`

Scratch space should be successfully created.

[2019-04-01 08:07] igoihman opened #735 "Creating a Data Volume without accessModes creates a Data volume without a PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Creating a Data Volume without accessModes creates a Data volume without a PVC.

**What you expected to happen**:
An Error message should be raised and the creation of DV should be rejected.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a Data Volume using the following yaml:
apiVersion: cdi

[2019-04-01 23:37] #735 closed

[2019-04-02 07:30] zvikorn opened #737 "import-block-pv.md - volumeMode is not defined correctly in the DataVolume manifest"
/kind enhancement

**What happened**:
in the import-block-pv.md, the volumeMode:Block defined in the DataVolume.yaml example, defined under the DataVolime.Spec level, instead under DataVolume.Spec.Pvc. As a result, deploying of such datavolume, creates PVC without volumeMode field.

[2019-04-02 11:43] #737 closed

[2019-04-03 18:29] djzager commented on #715
Hopefully the silly `cdicomponents` pkg I created for generating the manifests are useful to you https://github.com/kubevirt/hyperconverged-cluster-operator/blob/master/pkg/cdicomponents/cdicomponents.go

[2019-04-05 17:24] rthallisey opened #741 "Express ContainerRegistry, ContainerTag, and PullPolicy on the operator's CR"
/kind enhancement

Expose ContainerRegistry, ContainerTag, and PullPolicy on the operator's CR and remove them as environment vars.

HCO's [configuration proposal](https://github.com/kubevirt/hyperconverged-cluster-operator/pull/22)

[2019-04-09 12:09] awels opened #743 "Check target DV/PVC size when cloning."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When using host assisted cloning CDI does not check if the target DV/PVC is the same size or larger than the source PVC. Lets say I have an existing 10G DV with a 10G disk image on it. If I clone that to a 5G DV, all kinds of bad things will happen to the cloned disk image.

**What you expected to happen**:
Before even at

[2019-04-09 19:53] awels opened #745 "Detect different RAW format properly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
The following image is a proper RAW image (qemu-img doesn't need to convert it after un xzing) however it does not conform to the ISO9660 format (the volume descriptor is not in the right place) We need to determine if we can detect this format easily.

https://download.fedoraproject.org/pub/fedora/linux/releases/

[2019-04-09 20:49] awels commented on #745
Actually we don't care, closing.

[2019-04-09 20:49] #745 closed

[2019-04-14 01:23] #523 closed

[2019-04-15 19:11] #726 closed

[2019-04-15 19:13] awels commented on #705
Fixed with data stream refactor.

[2019-04-15 19:13] #705 closed

[2019-04-15 19:13] #668 closed

[2019-04-15 20:03] awels commented on #643
Fixed by PR #721

[2019-04-15 20:03] #643 closed

[2019-04-15 20:03] awels commented on #626
Not an issue at this point.

[2019-04-15 20:03] #626 closed

[2019-04-15 20:04] #613 closed

[2019-04-15 20:04] awels commented on #560
This is still an issue, the functional tests are failing randomly on this.

[2019-04-15 20:05] awels commented on #560
/remove-lifecycle stale

[2019-04-15 20:05] #362 closed

[2019-04-15 20:07] awels commented on #679
That is the correct behavior you have to import github.com/kubevirt/containerized-data-importer.

[2019-04-15 20:07] #679 closed

[2019-04-16 16:16] rmohr commented on #666
I am not entirely sure if this is the issue here but I think so: @karmab reported on #virtualization that listing apiserver resources failed from the k8s discovery client (which we use in kibevirt-operator):

[code]

We don't do anything CDI specific here. We only run `clientset.DiscoveryClient().ServerResources()` in our code. When @karmab removed CDI, the kubevirt-operator succeeded with listing

[2019-04-17 08:03] karmab commented on #666
as a a side effect of this, ocp dashboard is full of the following messages:

[code]

[2019-04-17 12:36] rmohr opened #753 "Prometheus scrape configuration and the prometheus.kubevirt.io label"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

You seem to add the `prometheus.kubevirt.io` label to pods which expose metrics. If that label is put on pods which is configured different than the pods in `kubevirt/kubevirt`, then it is not possible to configure prometheus properly. We will soon merge a PR which will serve valid TLS certificates for everything, includ

[2019-04-17 12:43] rmohr commented on #753
It should only be an issue if for some reason one of your components which expose metrics run in the kubevirt install namespace, but I would prefer to have it resolved to avoid strange, hard to debug issues.

[2019-04-17 12:43] awels commented on #753
@rmohr What is the PR, we don't have proper TLS certificate management in CDI and we need it as well (I want to steal either the code, or figure out how to use it for CDI). We modeled our prometheus after kubevirts and tried to configure them all the same, in the hope to be able to use the same infrastructure as kubevirt. But if that is a problem we can put a different label on our pods.

[2019-04-17 12:50] awels commented on #753
If someone switches to the kubevirt namespace and imports something, then it will be an issue, so lets change the label.

[2019-04-17 13:32] rmohr commented on #753
You can have a look at https://github.com/kubevirt/kubevirt/pull/2027. client-go already brings most of the needed things for cert requests and cert rotation.

I think the modelling is fine, just sharing the label can cause issues, but we should not share a `ServiceMonitor`.

[2019-04-17 17:51] #753 closed

[2019-04-17 17:52] rmohr commented on #753
@awels thanks! :+1:

[2019-04-18 00:29] mhenriks commented on #666
@rmohr @karmab the problem in the OCP 4 environment is that the CDI apiserver does not return its path list when getting the `/` URI.  Basically, it is missing the equivalent of [1] in KubeVirt.  Because of that, the aggregation layer is not even attempting to get the `/apis/upload.cdi.kubevirt.io/v1alpha1` URI (which is implemented).

Interestingly, this is not an issue in k8s 1.13.3 or OS 3.11.

[2019-04-18 07:23] rmohr commented on #666
I am not sure what we should do in this case. We need to discover resources on the apiserver and the apiserver returns a `5XX` code, which means that something on the server is wrong. Handling situations gracefully where you don't get critical information because of a `5XX` sounds not easy to solve.

[2019-04-18 13:00] mhenriks commented on #666
It looks like KubeVirt is invoking the discovery stuff in order to figure out if the operator is running in OpenShift.  So, why not limit the check to an OpenShift specific API server?  For example, in the CDI Operator, before attempting to modify the privileged SecurityContextConstraint, it does a get.  If get returns `IsNotFound()` or IsNoMatchError() it assumes not on OpenShift.   If any other

[2019-04-19 20:13] #741 closed

[2019-04-22 21:48] davidvossel opened #759 "cdi operator uses cluster-admin ClusterRole."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

The cdi operator's service account is bound to the 'cluster-admin' ClusterRole, which i believe grants more permissions than the operator needs.

This issue is a request to limit the scope of the permissions given to the cdi-operator to only what is required to manage the deployment/updating/deprovisioning of the cdi infrastructure

[2019-04-23 13:39] mhenriks commented on #759
Oh yeah, this is bad but should be fixed in #748

[2019-04-24 12:02] #719 closed

[2019-04-24 12:35] rmohr commented on #666
Created a PR to handle it on the kubevirt side gracefully with the discovery client. Turns out that discovery fails too if a registered aggregated apiserver is not available: https://github.com/kubevirt/kubevirt/pull/2210

[2019-04-25 09:11] mmazur opened #761 "CDIConfig not getting url from Ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
CDI is deployed and working (upload proxy is responding), but no ingress is set up yet:

[code]
It's my understanding that once I add an Ingress pointing at that service (yaml taken from [here](https://github.com/kubevirt/containerized-data-importer/blob/master/doc/exposing-upload-proxy.md#kubernetes)), the config object s

[2019-04-26 11:16] igoihman commented on #761
@mmazur it should work when adding this to `metadata`:
[code]

I will fix it to have a consistent behavior with Routes.

[2019-04-26 12:27] mhenriks commented on #761
I don't think Ingress/Routes should be required to have that label or any label.

[2019-04-26 12:33] igoihman commented on #761
Correct, I'm going to remove that label from Ingress informer.

[2019-04-26 23:48] #761 closed

[2019-04-29 11:57] olberger opened #765 "https://raw.githubusercontent.com/kubevirt/containerized-data-importer/$VERSION/manifests/example/datavolume.yaml 404"
/kind bug

Following the README:
[code]
I guess the example is gone...

[2019-04-29 12:16] #765 closed

[2019-04-29 12:17] awels commented on #765
Apologies, we renamed the example but never updated the README, I fixed it. Thank you for reporting.

[2019-04-29 14:27] awels opened #769 "Release user password might have been compromised in GH breach"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
screeley is the current release user
**What you expected to happen**:
CDI-BOT to be the release-user (also change PW for that user because of GH breach)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl get deployments cdi-

[2019-04-29 22:24] j-griffith opened #772 "Enable use of external provider"
/kind enhancement
As a developer, I would like to be able to make modifications to the CDI code and test them in my own cluster with my own storage rather than relying upon the provided CDI images.

Ideally we'd have two different possibilities here:
1. An existing test cluster
- Build images for CDI based on my changes and push them to my own Image Repo
- Use the CDI Makefile/Workflow to deploy m

[2019-04-29 23:36] j-griffith opened #774 "Delete CDI Namespace hangs forever"
/kind bug

**What happened**:

After deploying CDI to my Kubernetes 1.14 cluster, I wanted to quickly remove it so I just used `kubectl delete ns cdi`.  All of the objects were in fact cleaned up succesfully, however the CDI namespace itself appears to hang in terminating state indefinitely.

I believe this also occurs with Kubevirt as well, perhaps something in the operator implementation, or may

[2019-04-30 06:25] salkin opened #775 "Support of http_proxy"
**FEATURE REQUEST**:

/kind enhancement

**What happened**:
Not possible to import when cluster is behind proxy

**What you expected to happen**:
Support for adding http_proxy to the import

**How to reproduce it (as minimally and precisely as possible)**:
In cluster where proxy is enforced to reach outside world, import of image is failing

[2019-04-30 14:28] olberger opened #776 "Provide example docs for (dynamic ?) PV storage creation for DataVolume's PVCs"
It looks like the design of DataVolumes relies on some dynamic mechanism for binding PVCs to PVs, or on the cluster admin to have already provided a suitable PV.

For instance https://kubevirt.io/2018/CDI-DataVolumes.html relies on OpenShift providing "dynamic provisioning for storage running OpenShift Cloud Storage (GlusterFS)"...

However it is not really obvious to deploy such PVs with a minima

[2019-04-30 14:32] j-griffith commented on #776
Sure, probably would be good to add some wording in the top of the README that we do NOT provide a storageClass but rather expect an SC (either dynamic provisioning or otherwise) be available already.

[2019-04-30 14:46] awels commented on #776
Technically we don't require a storage class at all. just an existing PV that will match the PVC request that is generated by the data volume. The range of possible ways of creating a PV is huge, and we didn't want to prescribe what the user should do in order to create one.

I guess we could create a document with different 'tiers' of examples.
1. Single node testing cluster, with hostPath dynami

[2019-04-30 15:44] olberger commented on #776
At least making this explicit in the docs would be a good start, sure (like reusing these wordings, maybe). Of course more detailed tuto (or blog post) would be great.

Thanks for caring.

[2019-05-01 12:34] zvikorn opened #778 "Cloning block PV does not take into account sparseness"
/kind enhancement

**What happened**:
When cloning from one FS PV to another FS PV, we take into account sparseness whereas for block PV we do not.

[2019-05-01 15:42] #769 closed

[2019-05-03 18:44] mhenriks commented on #759
No longer uses cluster-admin but permissions are still too broad.  Currently all Operator permissions exist in a single ClusterRole.  But some of those permissions only need apply to the namespace CDI is installed in.

[2019-05-03 18:51] mhenriks opened #786 "CDIConfig uploadProxyURL only has host name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

uploadProxyURL does not contain scheme.  May also need port if router not exposed on port 443.

**What you expected to happen**:

Should look like this:  `uploadProxyURL: https://cdi-uploadproxy-cdi.router.default.svc.cluster.local`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we ne

[2019-05-04 14:50] #452 closed

[2019-05-05 12:42] igoihman opened #789 "Upload doesn't work in k8s-1.13.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
`UploadToken` can't be created in k8s-1.13.3

[code]

[code]

**What you expected to happen**:
`UploadToken`  should be created
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- CDI version (use `kubectl get deployments cdi-deployment -o yaml`): 1.9

[2019-05-06 07:54] #789 closed

[2019-05-06 15:02] j-griffith commented on #774
This appears to be an issue with the finalizer in the CDI Namespace on newer versions of Kuberentes.  There are a number of GH Issues reported in Kubernetes that seem similair here but I can't seem to get any of the suggested work arounds to "work".  Perhaps we need to revisit our use of the finalizer here?

[2019-05-07 15:23] #772 closed

[2019-05-08 20:21] ramanavakka opened #793 "CDI 1.9.0 - creation of data-volume does not work IBM Cloud Private 3.1.2 - no PV to bind PVC to"
**What happened**:

With ICP 3.1.2 (IBM Cloud Private), sample suggested to create a CDI based data-volume does not work

**What you expected to happen**:

The steps given at the example are supposed to create a data-volume.

However since there is no default PV for IBM Cloud Private, this example does
not work.

**How to reproduce it (as minimally and precisely as possible)**:

From https://githu

[2019-05-09 12:15] awels commented on #793
So basically you are saying there is no default storage class, and because you didn't specify a storage class the example didn't work?

If you look at the example file provided, there is a note at the top stating it assumes a default storage class. If there is none, you have to provide a storage class for it to work. The PVC section of a DV is 100% identical to a regular PVC definition, so you can

[2019-05-09 18:22] #774 closed

[2019-05-13 13:57] #776 closed

[2019-05-14 11:12] #759 closed

[2019-05-14 11:12] annastopel commented on #759
The issue is resolved in  #748

[2019-05-15 15:31] j-griffith commented on #793
Closing this, as the example does note specifying a SC.

[2019-05-15 15:31] #793 closed

[2019-05-15 19:33] annastopel opened #802 "FillDefaults function does not fill default names for cdi images correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
FillDefaults function does not fill correct default names for cdi images for apiserver, uploadproxy, uploadserver, cloner
[code]
This method is to be used by hco manifest-templator in order to generate cdi-deployment installation plan.
As a result, cdi-operator deployment manifest is generated incorrectly. Environmental

[2019-05-16 06:32] #802 closed

[2019-05-16 06:32] annastopel commented on #802
This issue is resolved in PR BugFix: OLM manifests #798

[2019-05-16 15:15] daudn commented on #491
Did you find an answer? I'm facing the same problem currently.

[2019-05-16 15:19] awels commented on #491
@daudn I think you will get better responses on the kubevirt-dev mailing list.

[2019-05-16 15:23] daudn commented on #491
@awels my problem is not really with kubevirt. It's with a simple kubernetes pod with a readiness probe that doesn't work as GCP docs shows:

[code]

[2019-05-16 15:31] awels commented on #491
What exactly are you expecting to happen, that code the first 30 seconds the probe should succeed, after 30 seconds it will start failing, that is the example.

[2019-05-16 15:33] daudn commented on #491
I'm using an autoscaler to scale my pods based on number of messages in rabbitMQ.

When terminated or exception within my code, my preStop hook is triggered and graceful termination is performed.

However, when my autoscaler scales the pods down, there is no preStop hook so no graceful termination.

I believe having a readiness probe may solve my problem but I'm not entirely sure how to implement

[2019-05-16 15:38] awels commented on #491
I would look at the example here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/ which is basically the same but different paths. The way I understand it, you specify the command to run lets say cat /tmp/healthy and if that doesn't error, its healthy, if it does error it is not. And simply creating/deleting that file would indicate healthy not health.

[2019-05-16 15:46] daudn commented on #491
[code]

Tried with /tmp/healthy and ./healthy

Warning  Unhealthy         5s                 kubelet, gke-pipeline-test-laa-pool-bed147df-lgxc  Readiness probe failed: cat: ./healthy: No such file or directory

[2019-05-16 16:05] awels commented on #491
you can always exec -it into the pod while it is running, and see if you can do these steps manually, maybe that will give a clue on why it is not working. Btw, after 30 seconds that will make the pod unhealth, so if you remove the rm -rf ./healthy part, it should remain healthy if you are allowed to touch the file.

[2019-05-21 08:25] gkgth opened #877 "How to make cdi-upload-server pods to run only on linux nodes in hybrid cluster ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In a hybrid cluster "cdi-uploadserver:v1.9.0" image gets scheduled to windows node.
**What you expected to happen**:
cdi-upload server should get deployed on the same node selector as "cdi-deployment"
**How to reproduce it (as minimally and precisely as possible)**:

Deploy CDI with below yaml (in a hybrid cluster which h

[2019-05-21 10:24] zvikorn opened #808 "The check not to allow import from registry if contentType is not 'kubevirt' was removed"
/kind bug

**What happened**:
The check not to allow import from registry if contentType is not 'kubevirt' was removed

**What you expected to happen**:
getting error when trying to import from registry with contentType = archive. Instead the import is completed.
**How to reproduce it (as minimally and precisely as possible)**:

[2019-05-23 17:52] #808 closed

[2019-05-28 09:14] qwang1 opened #819 "[Doc] Clarify import from registry using CDI v1.5, the VM disk image file in container should be in raw format"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
This is only for CDI release-v1.5
The functionality of registry import is as follows:
In order to import to succeed, the disk image file must be located in root directory of the container and should be named disk.img and be in raw format.
The release-v1.5 document [image-from-registry.md](https://github.com/kubevirt/containerized-da

[2019-05-28 09:33] zvikorn commented on #819
Wasn't this change included in 1.6 and not before that? This bug fix (https://github.com/kubevirt/containerized-data-importer/pull/641) is described in the CDI 1.6 release email.

[2019-05-28 09:42] qwang1 commented on #819
Since v1.6, the VM disk image file can be any format CDI supported, such as qcow2, raw, archive. But for v1.5, it still has the constraint that It must be the only raw format. @annastopel

[2019-05-29 00:28] mhenriks opened #824 "Controller leader election deadlock"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  Basically, leader election deadlocks when rolling out a deployment.  See here for more info:  https://bugzilla.redhat.com/show_bug.cgi?id=1714312

**What you expected to happen**:  Leadership will change to new pod

**How to reproduce it (as minimally and precisely as possible)**:  see bugzilla above

**Anything else we

[2019-05-29 21:15] mhenriks opened #833 "host:port not allowed in cdi-insecure-registries"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  can't add key `my-registry-host:5000` to `cdi-insecure-registries`

**What you expected to happen**: You can

**How to reproduce it (as minimally and precisely as possible)**:

`kubectl patch configmap cdi-insecure-registries -n cdi \
  --type merge -p '{"data":{"my-private-registry-host:5000": ""}}'`

**Anything else we

[2019-05-30 11:45] #824 closed

[2019-05-30 15:32] #833 closed

[2019-06-04 08:12] igoihman opened #844 "IsOpenShift function is broken on OpenShift 4.x"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`IsOpenShift` checks a certain REST API path `/oapi/v1` which exists on OpenShift 3.x and not on 4.x.
This causes `IsOpenShift` function to return false, thus config controller ignores Routes and `CDIConfig` status is not updated with route details.
Another impact: all functional tests that should run on OpenShift are bri

[2019-06-04 17:40] dollierp commented on #844
Downstream issue https://bugzilla.redhat.com/show_bug.cgi?id=1714980

[2019-06-05 14:00] #844 closed

[2019-06-06 18:59] j-griffith opened #848 "Can't create bock mode pvc's via DataVolumes"
**What happened**:
Was trying to run a demo of local-storage in block mode and my corresponding pod was unable to schedule because no pv resources available.  It turns out that this was because the claim that the DataVolume controller created did NOT set the volumeMode, thus the resultant pvc was set to use the default filesystem mode.

Looking at the code, I noticed that in fact we do not *ever*

[2019-06-06 19:00] j-griffith commented on #848
/assign me

[2019-06-07 00:11] j-griffith commented on #848
This in fact works as expected, I had a combination of issues including some ill formatted yaml and another system that the rook operator was gobbling up my disks that I'd allocated for local-storage.

The code actually picks up the volumeMode implicitly by just copying the entire pvc spec out of the dv field; I just missed it the first pass through.

[2019-06-07 00:11] #848 closed

[2019-06-07 00:11] j-griffith commented on #848
comment above

[2019-06-11 04:08] #691 closed

[2019-06-12 17:46] davidvossel commented on #642
This is still a problem. The datavolume status goes to Failed and then flaps back to Importing and even later to Success after it Failed.

Failed and success need to be finalized states. Use a condition to indicate there are issues with importing/cloning that involve retries.

[2019-06-18 00:53] ramanavakka opened #857 "CDI failes when using a local http server for qcow2 files - help debug"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Not sure if this is a bug or a pilot error - maybe an enhancement request

/kind bug

**What happened**:
I wanted to import a qcow2 file from a local http server.   I could get the file with
wget but using the same via cdi to import - does not work.

Image location -http://192.168.1.101/Fedora-Cloud-Base-28-1.1.x86_64.qcow2
wget http://192.168.1.101/Fe

[2019-06-18 09:57] zvikorn commented on #857
can you attach the pod (importer-fedora-local-l29p2) log?
and also the content of the hostpath storageclass. Thanks.

[2019-06-18 21:28] ramanavakka commented on #857
Hi,
Thanks for your response:

Here is the log from the importer:
user@ubuntu112:~$ kubectl logs -p importer-fedora-local-l29p2
I0618 21:11:19.454906       1 importer.go:58] Starting importer
I0618 21:11:19.455108       1 importer.go:100] begin import process
E0618 21:11:49.455403       1 importer.go:106] Get http://192.168.1.101/Fedora-Cloud-Base-28-1.1.x86_64.qcow2: dial tcp 192.168.1.101:80: i/

[2019-06-18 21:42] ramanavakka commented on #857
[cdi-import-issue-kubectl-061819.txt](https://github.com/kubevirt/containerized-data-importer/files/3303547/cdi-import-issue-kubectl-061819.txt)

[2019-06-19 09:01] igoihman opened #859 "DataVolume should be in terminating state if PVC is not deleted yet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind enhancement

**What happened**:
When Deleting a DataVolume, it is responsible to delete also the corresponding PVC it creates.
I noticed that there is a phase where DataVolume is already deleted and PVC still exists and this is not a healthy state.

**What you expected to happen**:
DataVolume should be in terminating state until PVC is deleted.

[2019-06-19 09:46] qwang1 opened #860 "[RFE]Local PV selector for upload image using virtctl tool"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
I have different size of PVs in my cluster. When I used virtcl tool to upload a big image, although I requested proper PVC(enough for the virtual size and smaller than the biggest PV), PVC didn't bind to the most suitable PV. I learned that the prerequisites for PVC/PV binding are the same access mode and PVC reque

[2019-06-19 11:28] qwang1 opened #861 "[RFE] Clarify scratch space requirement for local volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enhancement

**What happened**:
I took a long time to investigate the problem I mentioned in https://github.com/kubevirt/containerized-data-importer/issues/860, and as far as I know many ppl encountered this constantly and don't know why. In QE's cluster, the only two PVs which meet the requested size are not on the same node, so they're ignored.

[2019-06-19 11:29] qwang1 commented on #860
https://github.com/kubevirt/containerized-data-importer/issues/861

[2019-06-19 12:29] awels commented on #861
https://github.com/kubevirt/containerized-data-importer/blob/master/doc/supported_operations.md answers this question.

[2019-06-19 12:29] #861 closed

[2019-06-19 12:32] awels commented on #860
So the problem is you have 25G PVs available, and you need both for your particular operation. However since it is local storage, and one is on one node, and one is on another node, it can't bind both because they are on different nodes. So the requirements is for LOCAL storage that both PVs are on the same node.

[2019-06-19 15:14] qwang1 commented on #860
@awels Yes, that's what I mean.

[2019-06-19 15:20] awels commented on #860
I am not sure what you want CDI to do about a badly configured cluster?

[2019-06-19 15:28] qwang1 commented on #860
Assuming that the cluster has the correct configuration. Is this can be a use case that I want to upload images to the specified node?

[2019-06-19 15:49] qwang1 commented on #861
@awels Do you mean the last paragraph *“From a technical perspective uploading a RAW kubevirt image doesn't require scratch space, however we can't tell ahead of time if the data coming in is raw or not, so we have to attach scratch to the upload server pod even if we don't use it.”*？I explained  it to a few people that for uploading images such as qcow2 we need scratch space and a targeted space

[2019-06-19 16:09] awels commented on #861
So basically you want a note that both scratch space and target space need to be accessible from the same node? Which is a requirement for any pod accessing two PVCs at the same time. Local storage or not.

[2019-06-19 16:14] qwang1 commented on #861
@awels Correct. It would be better if we state that Local storage - both scratch space and target space need to be accessible from the same node is a requirement for any pod accessing two PVCs at the same time

[2019-06-19 16:18] awels commented on #861
Any storage that requirement is true, not just local storage. And that statement is true for any pod accessing 2 PVCs.

[2019-06-19 16:25] qwang1 commented on #861
Good to know. When we were using glusterfs, we seldom to care about the size and numbers of PV resources, that's why I overlooked many user scenarios. Using local storage is tricky and makes me think more.

[2019-06-19 16:27] awels commented on #860
Assuming you have a correctly configured cluster, where you have 2 PVs available on a node for upload, you cannot upload to a particular node because that is not how kubernetes works. You request a PVC, and based on that PVC, CDI will create an uploadserver pod. Kubernetes will schedule that pod on a node to run. That node will be where the file is saved. PVCs have no mechanism to specify which no

[2019-06-19 16:27] qwang1 commented on #857
@ramanavakka Is your http server behind a proxy?

[2019-06-19 16:30] awels commented on #861
And that is why we highly suggest using shared storage instead instead of local storage because there are less gotchas like what you are experiencing. But the same requirement is true, both PVC need to be accessible on the node. Shared storage all PVCs are accessible on all nodes and thus you don't have this problem.

[2019-06-19 16:35] qwang1 commented on #860
I saw this doc [local-storage-selector](https://github.com/kubevirt/containerized-data-importer/blob/master/doc/local-storage-selector.md). it works for importing, that's where my proposal come from.

[2019-06-19 16:56] qwang1 commented on #857
@ramanavakka sorry for the noise, didn't see it's a local http server.

[2019-06-19 18:35] awels commented on #860
Right but for that you need to manually create a PVC (or DV) with the label selector, and you need to put a label on the PV you want to use. In theory you can do the same for upload if you manually create the PVC ahead of time, and then virtctl upload with that existing PVC.

[2019-06-20 01:38] ramanavakka commented on #857
Hi
I am able to wget files from the local server as well as from the browser.  That is the only difference between the example given.  Where should I look for any issues?

thanks
--ramana

[2019-06-20 08:03] rollandf commented on #857
@ramanavakka Did you try the wget command from the node? It seems like a network issue.

[2019-06-20 10:50] ramanavakka commented on #857
Yes. I am able to get from wget. I can also download with a browser. 
—ramana

Sent from Yahoo Mail for iPhone

On Thursday, June 20, 2019, 1:03 AM, Fred Rolland <notifications@github.com> wrote:

@ramanavakka Did you try the wget command from the node? It seems like a network issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the

[2019-06-20 21:11] ramanavakka commented on #857
All,
I have tried a few things:
1. giving a local IP address as the  cdi.kubevirt.io/storage.import.endpoint does not work.  I believe this is a bug.
2. Then I gave a fully qualified path to the address instead of the IP address - this also fails with a hard code address being used to DNS lookup the address - here is the error.

Get http://server101.local.aparnasystems.com/media-vsrx-vmdisk-15.1X4

[2019-06-20 22:49] awels commented on #857
Basically all our functional tests use a local to the cluster http server. This is likely a networking configuration issue in your cluster. Can you create a long running (busybox or something) pod, and exec into that pod, then see what your network configuration looks like in the pod.

[2019-06-21 17:09] ramanavakka commented on #857
Thanks for the confirmation.  I have a single node cluster and nothing else.

[2019-06-21 17:42] awels commented on #857
So when you say local http server, do you mean http server running in the cluster, or http server running on your local machine but not inside the cluster network? This is why I asked you to check from inside a running pod, since that pod will be on the pod network inside the cluster. There are several layers of network, and depending on where your 'local' http server lives, different things need

[2019-06-21 17:45] awels commented on #701
This got fixed at some point.

[2019-06-21 17:45] #701 closed

[2019-06-21 17:54] awels commented on #743
Fixed by #755

[2019-06-21 17:54] #743 closed

[2019-06-25 13:49] mhenriks commented on #716
/remove-lifecycle rotten

[2019-06-25 13:49] mhenriks commented on #716
/remove-lifecycle stale

[2019-06-25 13:50] mhenriks commented on #716
@igoihman this is still a problem I see quite frequently.

[2019-06-25 13:51] mhenriks commented on #716
And it's not just the test mentioned above that fails.

[2019-06-25 18:14] igoihman commented on #716
@mhenriks I will work on a fix

[2019-06-26 21:09] ramanavakka commented on #857
Two bare metal servers - one of them host for kubectl node and the other has a web server (http).
The only question I have is - if CDI was able to access S3 server and get the image, why is it not able to do the same with the local http server?  In both cases, files are available via wget. Somehow
the call httpget is failing for local http server.

[2019-06-26 21:19] awels commented on #857
So there are 2 networks, the host network and the pod network. CDI uses the pod network to connect to the outside world. If you wget from the host to the local http server that is using the host network, and both hosts are on the same network. This is why I asked you to exec into a pod and run the wget from there, that way you are using the pod network.

As to why it can connect to S3, but not you

[2019-06-28 12:45] mmazur opened #870 "Cloning fails on os 3.11.0"
/kind bug
Cluster: os-3.11.0 from kubevirtci (v1.11.0+d4cacc0)
CDI: v1.9.3

Cloning doesn't work. What I do is:
1. Create `pvc-blank` as blank volume.
2. Try to create `pvc-blank2` as a clone of the former.

I get:
[code]

Full logs:
[code]

[2019-06-28 19:00] awels commented on #870
Hi, can you try with:
image="os-3.11.0-crio@sha256:3f11a6f437fcdf2d70de4fcc31e0383656f994d0d05f9a83face114ea7254bc0"
or if you use the docker version:
image="os-3.11.0@sha256:2d0a8f59dfebe181f550c4fbcd90d491a56a7d642d761c32a3c7732644325c0b"

And see if that works, it appears something changed in open shift and we haven't tracked down what the problem is yet.

[2019-07-02 19:05] djzager commented on #715
@annastopel I believe this is fixed with #748 and can be closed.

[2019-07-05 18:11] #464 closed

[2019-07-07 14:37] Helenbj opened #876 "Request an Upload Token failed (BadRequest): error when creating "upload-datavolume-token.yaml""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When I run command:

`kubectl apply -f manifests/example/upload-datavolume-token.yaml -o yaml`

the content of upload-datavolume-token.yaml is:

[code]

After run apply, the error output is：

`Error from server (BadRequest): error when creating "upload-datavolume-token.yaml": the server rejected our request for an unknown reason (p

[2019-07-08 02:23] mhenriks commented on #876
Hi @Helenbj does the PVC `upload-datavolume` exist in the `default` namespace?  If not, change the namespace of the UploadTokenRequest accordingly.

[2019-07-08 08:44] Helenbj commented on #876
@mhenriks Thanks for your reply, the upload-datavolume is also in default namespace.

I find I forget to run command:

[code]

However when I run command:

`kubectl port-forward -n cdi service/cdi-uploadproxy 8443:443`

I got an error output:

[code]

If I ignore this and continue with `kubectl apply -f manifests/example/upload-datavolume.yaml`, the error output changes of command `kubectl apply -

[2019-07-08 13:46] mhenriks commented on #876
Port forwarding is not necessary to get an upload token.  It uses the regular Kubernetes api server.  Port forwarding is for uploading the image after you get a token.

Try waiting until the pvc is created before requesting a token.

[2019-07-08 17:58] #870 closed

[2019-07-09 07:17] fabiand commented on #877
Done

[2019-07-09 11:21] awels commented on #877
@mhenriks Any thoughts on this?

[2019-07-10 04:30] Helenbj commented on #876
@mhenriks Yes, you are right!! Thank you very much！ I didn't notice that the pvc is pending without bound. After I add the `storageClassName: rook-ceph-block` to upload-datavolume.yaml, the pvc of datavolume become bound, and then I can get the correct output of cmd `kubectl apply -f upload-datavolume-token.yaml -o yaml`. Thanks again!

[2019-07-10 05:04] #876 closed

[2019-07-10 06:55] Helenbj opened #879 "kubectl port-forward failed. portforward.go:233] lost connection to pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When I run command:

`kubectl port-forward -n cdi service/cdi-uploadproxy 8443:443`

I got error output:

[code]
However, I have run ingress-nginx and cdi successfully:

[code]

[code]

**What you expected to happen**:

Port forwarding via the API server successfully, so I can upload image with token I got.

**How to reproduce it (

[2019-07-10 07:57] Helenbj commented on #876
@mhenriks By the way, do you know how to deal with the problem of port-forward described in #879

[2019-07-10 12:00] awels commented on #879
If you are going to port forward you need a running upload server pod. The upload server pod is not created until a PVC with the correct annotation exists (you can either create the PVC with the annotation or a datavolume with the correct source type). Once the PVC exists, the upload server pod is created, and you can use the port-forward.

[2019-07-10 13:17] mhenriks commented on #877
I suspect that in a real hybrid cluster, the admin will prevent this issue by adding the appropriate taints to the nodes because there are so many existing manifests/helm charts/operators out there that omit linux nodeSeletcors.  That said, I guess we can add nodeSelectors as well.

[2019-07-11 01:49] Helenbj commented on #879
@awels I have already use yaml file bellow to create pvc successfully.

[code]
You can see  pvc is in bound state:

[code]
So I don't know which pod the error output `portforward.go:233] lost connection to pod` is pointing to.

[2019-07-11 03:10] Helenbj commented on #879
Without port-forward, I cannot upload image to datavolume.

[code]

[2019-07-11 18:10] awels commented on #879
So it looks like there is a time limit on the port forward before it loses connection, around 30 seconds or so if there is no activity. I just tried and I was able to follow your steps and upload my image fine.

[2019-07-12 01:32] Helenbj commented on #879
@awels Thanks for your reply! Now I output the logs of importer pod, and see some error:

[code]

As above error, is it a problem of my local image? But I have try qcow2 and tar format, which I can make image and run vm successfully. Or it also the problem with port-forward failed?

[2019-07-12 02:39] Helenbj commented on #879
I finnally find out the reason!!! The upload failed because I miss @ in cmd `curl -v --insecure -H "Authorization: Bearer $TOKEN" --data-binary @~/virtualnode/imgs/template/origin/centos/originc7.qcow2 https://192.168.110.89:31001/v1alpha1/upload`

Now I upload image successfully without port-forward fine.

[2019-07-12 02:39] #879 closed

[2019-07-16 10:44] rthallisey opened #885 "CDI operator should cleanup apiservices"
**BUG REPORT**:
/kind bug

**What happened**:
CDI operator is not cleaning up endpoints when it's deleted.

I created CDI in kubevirt-hyperconverged, then removed it.  Created CDI in openshift-cnv and the api-server fails.   Looks like an endpoint is left around in the kubevirt-hyperconverged ns.

[code]

[2019-07-16 10:44] rthallisey commented on #885
cc @annastopel @igoihman

[2019-07-16 11:44] mhenriks commented on #885
This is already fixed.

Here:  https://github.com/kubevirt/containerized-data-importer/blob/master/pkg/apiserver/apiserver.go#L550

And here:  https://github.com/kubevirt/containerized-data-importer/blob/master/pkg/apiserver/apiserver.go#L622

[2019-07-16 11:48] rthallisey commented on #885
Ack.  HCO needs to bump CDI to 1.9.4.

[2019-07-16 11:48] #885 closed

[2019-07-16 11:49] rthallisey commented on #885
thanks Michael

[2019-07-23 17:24] annastopel opened #890 "Travis fails when trying to build a release"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When building a release, travis fails with error
[code]

This is due to to the fact that now ``` make docker``` expects that ``` make manifests``` was executed before and olm related manifests were created.
olm related manifests are required in order to build cdi-olm-catalog container image.
NOTE: make manifests are to b

[2019-07-23 17:27] annastopel commented on #890
@awels  what is the proper way to solve this?
Apparently in release mode, travis runs publish target which runs docker only, without manifests. Now manifests are required for docker as described in this issue. But manifests require respective environmental variables that correspond to the release being issued.

[2019-07-25 14:47] awels commented on #560
/remove-lifecycle stale

[2019-07-25 20:52] moadqassem opened #892 "Panic when importing images"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
During the validating of the image I have got a panic, even though I reran the importer on the very same image it didn't panic and it was imported successfully.

`
I0725 20:29:17.406438       1 importer.go:100] begin import process
I0725 20:29:17.406870       1 data-processor.go:237] Calculating available size
I0725 20:29:

[2019-07-25 22:06] alvaroaleman commented on #892
Not sure if related, but why does the CDI set CPU and memory limits to the `qemu-img` call? Those are supposed to be enforced at container level IMHO, having a process inside a container set that for a child in a oneshot-scenario where the main process basically exits when its child exits primarily makes debugging hard, but I fail a little to see the added value.

Also, why are these CPU and memor

[2019-07-26 09:16] rmohr commented on #892
@aglitke did you think about running `qemu-img info` in an init container? When browsing through the code, it looks like you are setting the limits on the convert call. Can that be? If I remember the issue correctly, the limits were only meant for the metadata call, not for the conversion itself.

[2019-07-26 09:30] rmohr opened #893 "Add conditions to DataVolume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

As a follow-up of #892: Can you expose some conditions which indicate why an image upload failed? Right now we only create a generic warning that the DataVolume failed but we can't send why it actually failed. If you set the condition we can send specific events and set the condition also on the VMI.

**What you

[2019-07-26 09:36] moadqassem commented on #893
Sending those events/conditions to the VMI wouldn't be sufficient, because the VMI is actually dependent on the DataVolume, in other words, if a DataVolume fails no VMI will be created, thus those events should be sent to the VM instead.

[2019-07-26 11:25] awels commented on #892
Interesting, we only set the limits on the qemu-img info call, not the convert. This is to protect against malicious images.

[2019-07-26 11:34] rmohr commented on #892
Maybe I don't understand the code but this looks like it is wrapped: https://github.com/kubevirt/containerized-data-importer/blob/b457828ca7224c6776531bd0acd873563cc9b5a9/pkg/image/qemu.go#L119

[2019-07-26 11:42] awels commented on #892
Right, but if you compare it to https://github.com/kubevirt/containerized-data-importer/blob/b457828ca7224c6776531bd0acd873563cc9b5a9/pkg/image/qemu.go#L154 you will see the first parameter not being nil, the nil parameter means no limits.